# Edwin Wray

### Group 1

### Homework 3S

### 

- Execises 5

- The Intersect Operator

<span style="color: #008000;">-- 5</span>

<span style="color: #008000;">-- Write a query that returns customer and employee pairs</span>

<span style="color: #008000;">-- that had order activity in both January 2016 and February 2016</span>

<span style="color: #008000;">-- but not in 2015</span>

<span style="color: #008000;">-- Tables involved: TSQLV4 database, Orders table</span>

  

<span style="color: #008000;">--Desired output</span>

custid empid

<span style="color: #008000;">----------- -----------</span>

<span style="color: #09885a;">67</span> <span style="color: #09885a;">1</span>

<span style="color: #09885a;">46</span> <span style="color: #09885a;">5</span>

  

(<span style="color: #09885a;">2</span> <span style="color: #0000ff;">row</span>(s) affected)

**Chapter 6 - Exercise 5**  

Proposition: Write a query that returns customer and employee pairs that had order activity in both January 2016 and February 2016, but not in 2015.  

Table: Sales.\[Order\] table.  

Columns: CustomerId and EmployeeId from  Sales.\[Order\] table.  

Predicate:   

- O.OrderDate \>= '2016-01-01' AND O.OrderDate \< '2016-02-01' filters for order activity in January 2016.  
- O.OrderDate \>= '2016-02-01' AND O.OrderDate \< '2016-03-01' filters for order activity in February 2016.  
- YEAR(O.OrderDate) = '2015' filters for order activity in 2015.

In [ ]:
-- Chapter 6 - Exercise 5

-- TSQLV4
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, O.custid, O.empid
FROM Sales.Orders AS O 
WHERE O.orderdate >= '2016-01-01' AND O.orderdate < '2016-02-01'

INTERSECT

SELECT N'TSQLV4' AS databasename, O.custid, O.empid
FROM Sales.Orders AS O 
WHERE O.orderdate >= '2016-02-01' AND O.orderdate < '2016-03-01'

EXCEPT

SELECT N'TSQLV4' AS databasename, O.custid, O.empid
FROM Sales.Orders AS O 
WHERE YEAR(O.orderdate) = '2015'
ORDER BY O.custid DESC, O.empid


-- Northwinds2022TSQLV7
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, O.CustomerId, O.EmployeeId
FROM Sales.[Order] AS O 
WHERE O.OrderDate >= '2016-01-01' AND O.OrderDate < '2016-02-01'

INTERSECT

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, O.CustomerId, O.EmployeeId
FROM Sales.[Order] AS O 
WHERE O.OrderDate >= '2016-02-01' AND O.OrderDate < '2016-03-01'

EXCEPT

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, O.CustomerId, O.EmployeeId
FROM Sales.[Order] AS O 
WHERE YEAR(O.OrderDate) = '2015'
ORDER BY O.CustomerId DESC, O.EmployeeId

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- The INTERSECT Operator</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 6 - The Intersect Operator**

Proposition: Write a query that returns distinct locations (Country, Region and City) with both an Employee(s) and Customer(s).  

Table: HumanResources.Employee and  Sales.Customer tables.  

Columns: 

- EmployeeCountry, EmployeeRegion and EmployeeCity from the HumanResources.Employee table. 
- CustomerCountry, CustomerRegion, CustomerCity from the Sales.Customer table

Predicate: No predicate in this query.

In [ ]:
-- TSQLV6
USE TSQLV6;

-- The INTERSECT Distinct Set Operator
SELECT N'TSQLV6' AS databasename, country, region, city FROM HR.Employees
INTERSECT
SELECT N'TSQLV6' AS databasename, country, region, city FROM Sales.Customers;

-- Northwinds2022TSQLV7
USE Northwinds2022TSQLV7;

-- The INTERSECT Distinct Set Operator
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
INTERSECT
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;

**Chapter 6 - The Intersect Operator**

Proposition: Write a query that numbers each occurence of locations (Country, Region and City) with both an Employee(s) and Customer(s), making duplicate occurences distinct with the inclusion of the row num and return them.  

Table: HumanResources.Employee and  Sales.Customer tables.  

Columns: 

- EmployeeCountry, EmployeeRegion and EmployeeCity from the HumanResources.Employee table. 
- CustomerCountry, CustomerRegion, CustomerCity from the Sales.Customer table.
- RowNum

Predicate: No predicate in this query.

In [ ]:
-- TSQLV6
USE TSQLV6;

-- The INTERSECT ALL Multiset Operator (Optional, Advanced)
SELECT
  N'TSQLV6' AS databasename, 
  ROW_NUMBER() 
    OVER(PARTITION BY country, region, city
         ORDER     BY (SELECT 0)) AS rownum,
  country, region, city
FROM HR.Employees

INTERSECT

SELECT
  N'TSQLV6' AS databasename, 
  ROW_NUMBER() 
    OVER(PARTITION BY country, region, city
         ORDER     BY (SELECT 0)),
  country, region, city
FROM Sales.Customers;


-- Northwinds2022TSQLV7
USE Northwinds2022TSQLV7;

-- The INTERSECT ALL Multiset Operator (Optional, Advanced)
SELECT
  N'Northwinds2022TSQLV7' AS DatabaseName, 
  ROW_NUMBER() 
    OVER(PARTITION BY EmployeeCountry, EmployeeRegion, EmployeeCity
         ORDER     BY (SELECT 0)) AS rownum,
  EmployeeCountry, EmployeeRegion, EmployeeCity
FROM HumanResources.Employee

INTERSECT

SELECT
  N'Northwinds2022TSQLV7' AS DatabaseName, 
  ROW_NUMBER() 
    OVER(PARTITION BY CustomerCountry, CustomerRegion, CustomerCity
         ORDER     BY (SELECT 0)),
  CustomerCountry, CustomerRegion, CustomerCity
FROM Sales.Customer;

**Chapter 6 - The Intersect Operator**

Proposition: Write a query that creates a CTE that returns ALL occurences of locations (Country, Region and City) with both an Employee(s) and Customer(s), including duplicates. USE

Table: HumanResources.Employee and  Sales.Customer tables.  

Columns: 

- EmployeeCountry, EmployeeRegion and EmployeeCity from the HumanResources.Employee table. 
- CustomerCountry, CustomerRegion, CustomerCity from the Sales.Customer table

Predicate: No predicate in this query.

In [ ]:
-- TSQLV6
USE TSQLV6;

WITH INTERSECT_ALL
AS
(
  SELECT
    N'TSQLV6' AS databasename, 
    ROW_NUMBER() 
      OVER(PARTITION BY country, region, city
           ORDER     BY (SELECT 0)) AS rownum,
    country, region, city
  FROM HR.Employees

  INTERSECT

  SELECT
    N'TSQLV6' AS databasename, 
    ROW_NUMBER() 
      OVER(PARTITION BY country, region, city
           ORDER     BY (SELECT 0)),
    country, region, city
  FROM Sales.Customers
)
SELECT databasename, country, region, city
FROM INTERSECT_ALL;


-- Northwinds2022TSQLV7
USE Northwinds2022TSQLV7;

WITH INTERSECT_ALL
AS
(
  SELECT
    N'Northwinds2022TSQLV7' AS DatabaseName, 
    ROW_NUMBER() 
      OVER(PARTITION BY EmployeeCountry, EmployeeRegion, EmployeeCity
           ORDER     BY (SELECT 0)) AS rownum,
    EmployeeCountry, EmployeeRegion, EmployeeCity
  FROM HumanResources.Employee

  INTERSECT

  SELECT
    N'Northwinds2022TSQLV7' AS DatabaseName, 
    ROW_NUMBER() 
      OVER(PARTITION BY CustomerCountry, CustomerRegion, CustomerCity
           ORDER     BY (SELECT 0)),
    CustomerCountry, CustomerRegion, CustomerCity
  FROM Sales.Customer
)
SELECT DatabaseName, EmployeeCountry, EmployeeRegion, EmployeeCity
FROM INTERSECT_ALL;