**Name:** Mehrshad Eshaghianpour

**Group:** 1

**Tasks:** 

<details> <summary>Set Operators Excersises</summary>

-  <kbd>Q4</kbd>

</details>

<details> <summary>Set Operators</summary>

-  <kbd>UNION</kbd>

</details>

<span class="hljs-section" style="color:black;margin-right:0px;margin-bottom:0px;margin-left:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;border:0px;font-weight:700;font-family:Consolas, &quot;Andale Mono WT&quot;, &quot;Andale Mono&quot;, &quot;Lucida Console&quot;, &quot;Lucida Sans Typewriter&quot;, &quot;DejaVu Sans Mono&quot;, &quot;Bitstream Vera Sans Mono&quot;, &quot;Liberation Mono&quot;, &quot;Nimbus Mono L&quot;, Monaco, &quot;Courier New&quot;, Courier, monospace;vertical-align:baseline;outline:0px;white-space:pre;">Q4</span>

<span style="color:rgb(0, 128, 0);">-- 4</span>

<span style="color:rgb(0, 128, 0);">--  Write a query that returns customer and employee pairs </span>

<span style="color:rgb(0, 128, 0);">-- that had order activity in both January 2016 and February 2016</span>

<span style="color:rgb(0, 128, 0);">-- Tables involved: TSQLV4 database, Orders table</span>

<span style="color:rgb(0, 128, 0);">-- Desired output:</span>

| custid | empid |
| :-: | :-: |
| 20 | 3 |
| 39 | 9 |
| 46 | 5 |
| 67 | 1 |
| 71 | 4 |

<span style="color:rgb(0, 128, 0);">(5 rows affected)</span>

- **Proposition:**
    
    - The proposition is to retreive customers and employees who placed orders in both January 2016 and February 2016
        
- **Table:**
    
    - `Sales.Orders`
        
- **Columns:**
    
    - Columns selected in the query are `custid` and `empid`

- **Predicate:**
    
    - The predicate is the condition specified in the `WHERE` clause
        
    - `orderdate >= '20160101' AND orderdate < '20160201'` filters the records to include only those with an `orderdate` in January 2016 
        
    - `orderdate >= '20160201' AND orderdate < '20160301'` filters the records to include only those with an `orderdate` in February 2016
    
**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
USE TSQLV4

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20160101' AND orderdate < '20160201'

INTERSECT

SELECT custid, empid
FROM Sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301';


USE Northwinds2022TSQLV7

SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE orderdate >= '20160101' AND orderdate < '20160201'

INTERSECT

SELECT CustomerId, EmployeeId
FROM Sales.[Order]
WHERE orderdate >= '20160201' AND orderdate < '20160301';


<span style="color: rgb(0, 128, 0);">-----------------------</span>

<span style="color: rgb(0, 128, 0);">-- The UNION Operator</span>

<span style="color: rgb(0, 128, 0);">-----------------------</span>

- **Proposition:**
    
    - The proposition in this query are the `select` statements that use different set oprerators
        
- **Table:**
        
    - `HR.Employess`
    
    - `Sales.Customers`
    
- **Columns:**
    
    - Columns selected in the query are `country, region` and `city` 
        
- **Predicate:**
    
    - There is no predicates, only the set operators `UNION` and `UNION ALL`

**_Written in collaboraton with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query_**

In [ ]:
SET NOCOUNT ON
USE TSQLV4;

-- The UNION ALL Multiset Operator
SELECT country, region, city FROM HR.Employees
UNION ALL
SELECT country, region, city FROM Sales.Customers;

-- The UNION Distinct Set Operator
SELECT country, region, city FROM HR.Employees
UNION
SELECT country, region, city FROM Sales.Customers;

SET NOCOUNT ON
USE Northwinds2022TSQLV7;

-- The UNION ALL Multiset Operator
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
UNION ALL
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;

-- The UNION Distinct Set Operator
SELECT EmployeeCountry, EmployeeRegion, EmployeeCity FROM HumanResources.Employee
UNION
SELECT CustomerCountry, CustomerRegion, CustomerCity FROM Sales.Customer;