# HW2 - Brian Flores

## Q6

Return customers with orders placed on Feb 12, 2016 along with their orders

**Tables involved**: Sales.Customer and Sales.Order table, using  <span style="color:rgb(33, 33, 33);font-family:Menlo, Monaco, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">Northwinds2022TSQLV7.</span>

**Goal output:**

```
custid      companyname     orderid     orderdate
----------- --------------- ----------- ----------
48          Customer DVFMB  10883       2016-02-12
45          Customer QXPPT  10884       2016-02-12
76          Customer SFOGW  10885       2016-02-12


```

_(3 row(s) affected)_

* * *

## **<span style="font-family:georgia, palatino, serif;margin:0px;padding:0px;border:0px;outline:0px;font-size:14pt;text-shadow:none;">Proposition, Table, Columns and the Predicate.</span>**

The proposition for this query is to find those customers who placed a order on a specific date (Feb 12, 2016). This problem can be exteneded to any date within the where clause. The **tables** that need to be queried against are the Customer and Order table found in the NorthWinds database. The **predicate** that enables us to see what we should choose is the equality predicate to compare two dates. Finally the **columns** that need to be outputed are the customers id their respective company name, that specific orderid they used to make the transaction on the order date Feb 12, 2016. Which is also a column

**<u>What Type Of JOIN To Use</u>**

Since we need to connect two tables together by only what they have in common tells us that we need to use a inner join. Since it can exclude those rows that have nothing in common.

**<u>Filtering Criteria</u>**

Since this is a inner join we need to use a ON clause to soft filter only relevant rows. And then use the Where clause to filter only those who have the orderdate exactly to Feb 12, 2016.

In [ ]:
-- Original Query for TSQLV4

USE TSQLV4;

SELECT C.custid, C.companyname, O.orderid, O.orderdate
FROM [Sales].[Customers] AS C 
    INNER JOIN [Sales].[Orders] AS O
    ON C.custid = O.custid
WHERE O.orderdate = '20160212';


-- New Query for Northwinds

USE Northwinds2022TSQLV7;

SELECT C.CustomerId, C.CustomerCompanyName, O.OrderId, O.OrderDate
FROM [Sales].[Customer] AS C
    INNER JOIN [Sales].[Order] AS O
    ON C.customerId = O.customerId
WHERE O.orderDate = '20160212';

## Q7

Write a query that returns all customers in the output, but matches them with their respective orders only if they were placed on February 12, 2016

**Tables involved**:  Sales.Customer and Sales.Order table, using   <span style="color:rgb(33, 33, 33);font-family:Menlo, Monaco, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">Northwinds2022TSQLV7.</span>

**Desired output:**

```
custid      companyname     orderid     orderdate
----------- --------------- ----------- ----------
72          Customer AHPOP  NULL        NULL
58          Customer AHXHT  NULL        NULL
25          Customer AZJED  NULL        NULL
18          Customer BSVAR  NULL        NULL
91          Customer CCFIZ  NULL        NULL
68          Customer CCKOT  NULL        NULL
49          Customer CQRAA  NULL        NULL
24          Customer CYZTN  NULL        NULL
22          Customer DTDMN  NULL        NULL
48          Customer DVFMB  10883       2016-02-12
10          Customer EEALV  NULL        NULL
40          Customer EFFTC  NULL        NULL
85          Customer ENQZT  NULL        NULL
82          Customer EYHKM  NULL        NULL
79          Customer FAPSM  NULL        NULL
...
51          Customer PVDZC  NULL        NULL
52          Customer PZNLA  NULL        NULL
56          Customer QNIVZ  NULL        NULL
8           Customer QUHWH  NULL        NULL
67          Customer QVEPD  NULL        NULL
45          Customer QXPPT  10884       2016-02-12
7           Customer QXVLA  NULL        NULL
60          Customer QZURI  NULL        NULL
19          Customer RFNQC  NULL        NULL
9           Customer RTXGC  NULL        NULL
76          Customer SFOGW  10885       2016-02-12
69          Customer SIUIH  NULL        NULL
86          Customer SNXOJ  NULL        NULL
88          Customer SRQVM  NULL        NULL
54          Customer TDKEG  NULL        NULL
20          Customer THHDP  NULL        NULL
...

```

_(91 row(s) affected)_

* * *

## **<span style="font-family:georgia, palatino, serif;margin:0px;padding:0px;border:0px;outline:0px;font-size:14pt;text-shadow:none;">Proposition, Table, Columns and the Predicate.</span>**

The proposition for this query is to similar to the previous question. However, we want to include every row in the customers table however we would like to have matches for customers who have a certain date (Feb 12, 2016) and show their orderid. This problem can be exteneded to any date within the where clause. The <span style="color:#000080;font-weight:bold;"><strong>tables</strong></span> that need to be queried against are the Customer and Order table found in the NorthWinds database. The <span style="color:#000080;font-weight:bold;"><strong>predicate</strong></span> that enables us to see what we should choose is the equality predicate to compare two dates. Finally the <span style="color:#000080;font-weight:bold;"><strong>columns</strong></span> that need to be outputed are the customers id their respective company name, that specific orderid they used to make the transaction on the order date Feb 12, 2016. Which is also a column

<u><span style="color:#000080;font-weight:bold;"><strong>What Type Of JOIN To Use</strong></span></u>

Since we need to connect two tables together by any means possible we should use a Outter join. We want to include rows even if they dont have something common but want to preserve the Customers column which is found on the right hand side.

<u><span style="color:#000080;font-weight:bold;">Filtering Criteria</span></u>

Since this is a outter join we need to use a ON clause that will match if possible certain criteria but also include outter rows when the criteria isnt met.

In [ ]:
-- Original Query for TSQLV4

USE TSQLV4;

SELECT C.custid, C.companyname, O.orderid, O.orderdate 
FROM [Sales].[Customers] AS C
    LEFT OUTER JOIN [Sales].[Orders] AS O
    ON C.custid = O.custid AND 
        O.orderdate = '20160212';

-- New Query for Northwinds

USE Northwinds2022TSQLV7;

SELECT C.CustomerId, C.CustomerCompanyName, O.OrderId, O.OrderDate
FROM [Sales].[Customer] AS C
    LEFT OUTER JOIN [Sales].[Order] AS O
    on C.customerId = O.customerId AND
        O.orderdate = '20160212';

# Propositions
Translating queries to problems.

* * *

### **IMV. Including Missing Values**

## IMV.1

Generate a table with a single column that prints sequentially all the dates in between the range of 2014 jan 1st through 2016 December 31st. 

_**Tables involved:** dbo.Nums_

Sample output:

|orderdate|
|---|
|2014-01-01|
|2014-01-02|
|2014-01-03|
|2014-01-04|
|2014-01-05|
|2014-01-06|
|2014-01-07|
| ...      | 
|2016-12-31|

In [ ]:
-- IMV.1

USE TSQLV4;

SELECT DATEADD(day, n-1, CAST('20140101' AS DATE)) AS orderdate
FROM [dbo].[Nums]
WHERE n <= DATEDIFF(day, '20140101', '20161231') + 1;

USE Northwinds2022TSQLV7;

SELECT DATEADD(day, n-1, CAST('20140101' AS DATE)) AS orderdate
FROM [dbo].[Nums]
WHERE n <= DATEDIFF(day, '20140101', '20161231') + 1;

## IMV.2

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Output a table that prints all dates between 2014 Jan 1st through 2016 December 31st (sequentially) and with related Orders that have coincidence with the dateorder. Otherwise those Rows should be nulls (the ones that do not match). Output the orderdate, the orderid, customerid and employeeid.&nbsp;</span>  

**Tables involved:** dbo.Nums, Sales.Order

In [ ]:
-- IMV.2

USE TSQLV4;

SELECT DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) AS orderdate,
  O.orderid, O.custid, O.empid
FROM [dbo].[Nums]
  LEFT OUTER JOIN [Sales].[Orders] AS O
    ON DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) = O.orderdate
WHERE Nums.n <= DATEDIFF(day, '20140101', '20161231') + 1
ORDER BY orderdate;


USE Northwinds2022TSQLV7;

SELECT DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) AS orderdate,
  O.Orderid, O.CustomerId, O.EmployeeId
FROM [dbo].[Nums]
  LEFT OUTER JOIN [Sales].[Order] AS O
    ON DATEADD(day, Nums.n - 1, CAST('20140101' AS DATE)) = O.OrderDate
WHERE Nums.n <= DATEDIFF(day, '20140101', '20161231') + 1
ORDER BY orderdate;

---

### **FANS. Filtering Attributes from Non-Preserved Side of Outer Join**

## FANS.1

Excercise the use of a outter join to get a inner join result. Join tables Customer and the respective sale they made according to customer id. Filter only transactions that happened after 2016 Jan 1st. Output the customer Id the company name the order id and the orderdate

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);"><b>Tables involved</b>: Sales.Customer and Sales.Order</span>

In [ ]:
-- FANS.1
USE TSQLV4;

SELECT C.custid, C.companyname, O.orderid, O.orderdate
FROM [Sales].[Customers] AS C
  LEFT OUTER JOIN [Sales].[Orders] AS O
    ON C.custid = O.custid
WHERE O.orderdate >= '20160101';


USE Northwinds2022TSQLV7;

SELECT C.CustomerId, C.CustomerCompanyName, O.OrderId, O.OrderDate
FROM [Sales].[Customer] AS C
  LEFT OUTER JOIN [Sales].[Order] AS O
    ON C.CustomerId = O.CustomerId
WHERE O.OrderDate >= '20160101';

* * *

## UCO Using the COUNT Aggregate with Outer Joins

### UCO.1

Count the amount of orders a customer made, counting 1 if they made no purchases (this is intentional). Connect Customers to Orders they made via their customer id. Display the customer id and thier respective purchases.

**Tables involved**<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">: Sales.Customer and Sales.Order</span>

In [ ]:
-- UCO.1

USE TSQLV4;

SELECT C.custid, COUNT(*) AS numorders 
FROM [Sales].[Customers] AS C
  LEFT OUTER JOIN [Sales].[Orders] AS O
    ON C.custid = O.custid
GROUP BY C.custid;

USE Northwinds2022TSQLV7;

SELECT C.CustomerId, COUNT(*) AS numorders 
FROM [Sales].[Customer] AS C
  LEFT OUTER JOIN [Sales].[Order] AS O
    ON C.CustomerId = O.CustomerId
GROUP BY C.CustomerId;

### UCO.2

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Count the amount of orders a customer made, this time if they didnt make a purchase their count should be 0. Connect Customers to Orders they made via their customer id.&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Display the customer id and thier respective purchases.</span>

**Tables involved**<span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">: Sales.Customer and Sales.Order</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);"><br></span>

In [ ]:
-- UCO.2

USE TSQLV4;

SELECT C.custid, COUNT(O.orderid) AS numorders 
FROM [Sales].[Customers] AS C
  LEFT OUTER JOIN [Sales].[Orders] AS O
    ON C.custid = O.custid
GROUP BY C.custid;

USE Northwinds2022TSQLV7;

SELECT C.CustomerId, COUNT(O.OrderId) AS numorders 
FROM [Sales].[Customer] AS C
  LEFT OUTER JOIN [Sales].[Order] AS O
    ON C.CustomerId = O.CustomerId
GROUP BY C.CustomerId;