# Edwin Wray

### Group 1

### Homework 2

Execises 4 and 5

Cross Joins

<span style="color: #008000;">-- 4</span>

<span style="color: #008000;">-- Return customers and their orders including customers who placed no orders</span>

<span style="color: #008000;">-- Tables involved: TSQLV4 database, Customers and Orders tables</span>

<span style="color: #008000;">-- Desired output</span>

custid companyname orderid orderdate

<span style="color: #008000;">----------- --------------- ----------- -----------</span>

<span style="color: #09885a;">85</span> Customer ENQZT <span style="color: #09885a;">10248</span> <span style="color: #09885a;">2014</span><span style="color: #000000;">-</span><span style="color: #09885a;">07</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span>

<span style="color: #09885a;">79</span> Customer FAPSM <span style="color: #09885a;">10249</span> <span style="color: #09885a;">2014</span><span style="color: #000000;">-</span><span style="color: #09885a;">07</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span>

<span style="color: #09885a;">34</span> Customer IBVRG <span style="color: #09885a;">10250</span> <span style="color: #09885a;">2014</span><span style="color: #000000;">-</span><span style="color: #09885a;">07</span><span style="color: #000000;">-</span><span style="color: #09885a;">08</span>

<span style="color: #09885a;">84</span> Customer NRCSK <span style="color: #09885a;">10251</span> <span style="color: #09885a;">2014</span><span style="color: #000000;">-</span><span style="color: #09885a;">07</span><span style="color: #000000;">-</span><span style="color: #09885a;">08</span>

...

<span style="color: #09885a;">73</span> Customer JMIKW <span style="color: #09885a;">11074</span> <span style="color: #09885a;">2016</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">68</span> Customer CCKOT <span style="color: #09885a;">11075</span> <span style="color: #09885a;">2016</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">9</span> Customer RTXGC <span style="color: #09885a;">11076</span> <span style="color: #09885a;">2016</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">65</span> Customer NYUHS <span style="color: #09885a;">11077</span> <span style="color: #09885a;">2016</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">22</span> Customer DTDMN <span style="color: #0000ff;">NULL</span> <span style="color: #0000ff;">NULL</span>

<span style="color: #09885a;">57</span> Customer WVAXS <span style="color: #0000ff;">NULL</span> <span style="color: #0000ff;">NULL</span>

(<span style="color: #09885a;">832</span> <span style="color: #0000ff;">row</span>(s) affected)

Proposition: Write a query that returns all customers. Return their customer id, company name, and if they placed orders, return the orders id and date.

Table: Sales.Customer as c and Sales.\[Order\] as o.

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName,</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerId and CustomerCompanyName from&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customer&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">, and OrderId and OrderDate from&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">c.CustomerId</span> <span style="font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">=</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">o.CustomerId returns rows where the custermerid is found in both tables.</span>

In [ ]:
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, c.custid, c.companyname, o.orderid, o.orderdate
FROM Sales.Customers as c 
    LEFT OUTER JOIN Sales.Orders as o 
        ON c.custid = o.custid

USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, c.CustomerId, c.CustomerCompanyName, o.OrderId, o.OrderDate
FROM Sales.Customer as c 
    LEFT OUTER JOIN Sales.[Order] as o 
        ON c.CustomerId = o.CustomerId

<span style="color: rgb(0, 128, 0);">-- 5</span>

<span style="color: rgb(0, 128, 0);">-- Return customers who placed no orders</span>

<span style="color: rgb(0, 128, 0);">-- Tables involved: TSQLV4 database, Customers and Orders tables</span>

<span style="color: rgb(0, 128, 0);">-- Desired output</span>

custid companyname

<span style="color: rgb(0, 128, 0);">----------- ---------------</span>

<span style="color: rgb(9, 136, 90);">22</span> Customer DTDMN

<span style="color: rgb(9, 136, 90);">57</span> Customer WVAXS

(<span style="color: rgb(9, 136, 90);">2</span> <span style="color: rgb(0, 0, 255);">row</span>(s) affected)

Proposition: Write a query that returns all customers who never placed an order. Return their customer id and company name.

Table: Sales.Customer as c and Sales.\[Order\] as o.

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName,</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerId and CustomerCompanyName from&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customer&nbsp;</span>     <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table.</span>

Predicate: 

1. <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">c.CustomerId</span> <span style="font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre; color: rgb(0, 0, 0);">=</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">o.CustomerId returns rows where the custermerid is found in both tables.</span>
2. <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">o.OrderId is NULL returns rows without no order; customers who have not placed an order.</span>

In [ ]:
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, c.custid, c.companyname
FROM Sales.Customers as c 
    LEFT OUTER JOIN Sales.Orders as o 
        ON o.custid = c.custid
WHERE o.orderid is NULL;

USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, c.CustomerId, c.CustomerCompanyName
FROM Sales.Customer as c 
    LEFT OUTER JOIN Sales.[Order] as o 
        ON o.CustomerId = c.CustomerId
WHERE o.OrderId is NULL;

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- CROSS Joins</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

Proposition: Write a query that returns the cartesian product of the Sales.Customer and HumanResources.Employee tables using CROSS JOIN.

Table: Sales.Customer as C and HumanResources.Employee as E.

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName, </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerId from&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customer table</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">and&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeId from the&nbsp;</span>      <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table.</span>

Predicate: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">There is n</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">o predicate in this query.</span>

In [ ]:
USE TSQLV4;

-- SQL-92
SELECT N'TSQLV4' AS databasename, C.custid, E.empid
FROM Sales.Customers AS C
  CROSS JOIN HR.Employees AS E;

USE Northwinds2022TSQLV7;

-- SQL-92
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, C.CustomerId, E.EmployeeId
FROM Sales.Customer AS C
  CROSS JOIN HumanResources.Employee AS E;

Proposition: Write a query that returns the cartesian product of the Sales.Customer and HumanResources.Employee tables WITHOUT using CROSS JOIN.

Table: Sales.Customer as C and HumanResources.Employee as E.

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName,</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerId from&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customer table&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">and&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeId from the&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table.</span>

Predicate: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">There is n</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">o predicate in this query.</span>

In [ ]:
USE TSQLV4;

-- SQL-89
SELECT N'TSQLV4' AS databasename, C.custid, E.empid
FROM Sales.Customers AS C, HR.Employees AS E;

USE Northwinds2022TSQLV7;

-- SQL-89
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, C.CustomerId, E.EmployeeId
FROM Sales.Customer AS C, HumanResources.Employee AS E;

Proposition: Write a query that returns the cartesian product of the HumanResources.Employee table.

Table: HumanResources.Employee as E1 and HumanResources.Employee as E2.

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName,</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId, EmployeeFirstName and EmployeeLastName </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from the&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table E1</span><span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">, and </span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId, EmployeeFirstName and EmployeeLastName</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;from the&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table E2.</span>

Predicate: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">There is n</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">o predicate in this query.</span>

In [ ]:
USE TSQLV4;

-- Self Cross-Join
SELECT
  N'TSQLV4' AS databasename, 
  E1.empid, E1.firstname, E1.lastname,
  E2.empid, E2.firstname, E2.lastname
FROM HR.Employees AS E1 
  CROSS JOIN HR.Employees AS E2;
GO

USE Northwinds2022TSQLV7;

-- Self Cross-Join
SELECT
  N'Northwinds2022TSQLV7' AS DatabaseName, 
  E1.EmployeeId, E1.EmployeeFirstName, E1.EmployeeLastName,
  E2.EmployeeId, E2.EmployeeFirstName, E2.EmployeeLastName
FROM HumanResources.Employee AS E1 
  CROSS JOIN HumanResources.Employee AS E2;
GO

Proposition: Create a table of 10 digits, 0-9. Write a query that returns each digit in the table.  

Table: dbo.Digits  

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName,</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">digit from dbo.Digits&nbsp; table.&nbsp;&nbsp;</span>      

Predicate: There is no predicate in this query.

In [ ]:
-- All numbers from 1 - 1000

-- Auxiliary table of digits
USE TSQLV4;

DROP TABLE IF EXISTS dbo.Digits;

CREATE TABLE dbo.Digits(digit INT NOT NULL PRIMARY KEY);

INSERT INTO dbo.Digits(digit)
  VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);

SELECT N'TSQLV4' AS databasename, digit FROM dbo.Digits;
GO

-- All numbers from 1 - 1000

-- Auxiliary table of digits
USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.Digits;

CREATE TABLE dbo.Digits(digit INT NOT NULL PRIMARY KEY);

INSERT INTO dbo.Digits(digit)
  VALUES (0),(1),(2),(3),(4),(5),(6),(7),(8),(9);

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, digit FROM dbo.Digits;
GO

Proposition: Write a query that returns the numbers 1-1000 inclusively by using the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.Digits table created above. Use CROSS JOIN and string operations on the&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.Digits</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;table.</span>

Table: dbo.Digits

Column: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName,</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">n that returns a number between&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">1-1000 inclusively.</span>

Predicate: There is no predicate in this query.

In [ ]:
USE TSQLV4;

-- All numbers from 1 - 1000
SELECT N'TSQLV4' AS databasename, D3.digit * 100 + D2.digit * 10 + D1.digit + 1 AS n
FROM         dbo.Digits AS D1
  CROSS JOIN dbo.Digits AS D2
  CROSS JOIN dbo.Digits AS D3
ORDER BY n;

USE Northwinds2022TSQLV7;

-- All numbers from 1 - 1000
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, D3.digit * 100 + D2.digit * 10 + D1.digit + 1 AS n
FROM         dbo.Digits AS D1
  CROSS JOIN dbo.Digits AS D2
  CROSS JOIN dbo.Digits AS D3
ORDER BY n;