# **Edwin Wray**

### **Group 1**

### **Homework 7**

### Chapter 07 - Beyond the Fundamentals of Querying:

- Exercise 6  
    
- Unpivoting Data
    
- Unpivoting with the APPLY Operator  
    
- GROUPING and GROUPING\_ID Function

<span style="color: #008000;">-- 6</span>

<span style="color: #008000;">-- Write a query against the dbo.Orders table that returns the</span>

<span style="color: #008000;">-- total quantities for each:</span>

<span style="color: #008000;">-- employee, customer, and order year</span>

<span style="color: #008000;">-- employee and order year</span>

<span style="color: #008000;">-- customer and order year</span>

<span style="color: #008000;">-- Include a result column in the output that uniquely identifies</span>

<span style="color: #008000;">-- the grouping set with which the current row is associated</span>

<span style="color: #008000;">-- Tables involved: TSQLV4 database, dbo.Orders table</span>

  

<span style="color: #008000;">-- Desired output:</span>

groupingset empid custid orderyear sumqty

<span style="color: #008000;">----------- ----------- ------ ----------- -----------</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">2</span> A <span style="color: #09885a;">2014</span> <span style="color: #09885a;">12</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">3</span> A <span style="color: #09885a;">2014</span> <span style="color: #09885a;">10</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> A <span style="color: #09885a;">2014</span> <span style="color: #09885a;">22</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">2</span> A <span style="color: #09885a;">2015</span> <span style="color: #09885a;">40</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> A <span style="color: #09885a;">2015</span> <span style="color: #09885a;">40</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">3</span> A <span style="color: #09885a;">2016</span> <span style="color: #09885a;">10</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> A <span style="color: #09885a;">2016</span> <span style="color: #09885a;">10</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">1</span> B <span style="color: #09885a;">2014</span> <span style="color: #09885a;">20</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> B <span style="color: #09885a;">2014</span> <span style="color: #09885a;">20</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">2</span> B <span style="color: #09885a;">2015</span> <span style="color: #09885a;">12</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> B <span style="color: #09885a;">2015</span> <span style="color: #09885a;">12</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">2</span> B <span style="color: #09885a;">2016</span> <span style="color: #09885a;">15</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> B <span style="color: #09885a;">2016</span> <span style="color: #09885a;">15</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">3</span> C <span style="color: #09885a;">2014</span> <span style="color: #09885a;">22</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> C <span style="color: #09885a;">2014</span> <span style="color: #09885a;">22</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">1</span> C <span style="color: #09885a;">2015</span> <span style="color: #09885a;">14</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> C <span style="color: #09885a;">2015</span> <span style="color: #09885a;">14</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">1</span> C <span style="color: #09885a;">2016</span> <span style="color: #09885a;">20</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> C <span style="color: #09885a;">2016</span> <span style="color: #09885a;">20</span>

<span style="color: #09885a;">0</span> <span style="color: #09885a;">3</span> D <span style="color: #09885a;">2016</span> <span style="color: #09885a;">30</span>

<span style="color: #09885a;">4</span> <span style="color: #0000ff;">NULL</span> D <span style="color: #09885a;">2016</span> <span style="color: #09885a;">30</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2014</span> <span style="color: #09885a;">20</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2014</span> <span style="color: #09885a;">12</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">3</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2014</span> <span style="color: #09885a;">32</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2015</span> <span style="color: #09885a;">14</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2015</span> <span style="color: #09885a;">52</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">1</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2016</span> <span style="color: #09885a;">20</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2016</span> <span style="color: #09885a;">15</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">3</span> <span style="color: #0000ff;">NULL</span> <span style="color: #09885a;">2016</span> <span style="color: #09885a;">40</span>

  

(<span style="color: #09885a;">29</span> <span style="color: #0000ff;">row</span>(s) affected)

  

<span style="color: #008000;">-- When you're done, run the following code for cleanup</span>

<span style="color: #0000ff;">DROP</span> <span style="color: #0000ff;">TABLE</span> <span style="color: #0000ff;">IF</span> <span style="color: #0000ff;">EXISTS</span> dbo.Orders;

<span style="color: #0000ff;">DROP</span> <span style="color: #0000ff;">TABLE</span> <span style="color: #0000ff;">IF</span> <span style="color: #0000ff;">EXISTS</span> dbo.EmpYearOrders;

<span style="color: #0000ff;">DROP</span> <span style="color: #0000ff;">TABLE</span> <span style="color: #0000ff;">IF</span> <span style="color: #0000ff;">EXISTS</span> dbo.EmpCustOrders;

**Chapter 7 - Exercise 6**

Proposition: Write a query against the dbo.Orders table that returns the total quantities for each: 

> - employee, customer, and order year 
> - employee and order year 
> - customer and order year
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Include a result column in the output that uniquely identifies the grouping set with which the current row is associated. Tables involved: TSQLV4 database, dbo.Orders table</span>

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.[Order]</span>

Columns: OrderId, OrderDate, EmployeeId, CustomerId and Quantity

Predicate: No predicate.

In [ ]:
-- CREATE dbo.Orders TABLE
USE TSQLV6;
GO 

DROP TABLE IF EXISTS dbo.Orders;

CREATE TABLE dbo.Orders 
(
    orderid INT NOT NULL CONSTRAINT PK_Orders PRIMARY KEY
    , orderdate DATE NOT NULL
    , empid INT NOT NULL
    , custid VARCHAR(5)
    , qty INT NOT NULL
);

INSERT INTO dbo.Orders(orderid, orderdate, empid, custid, qty)
VALUES
    (30001, '20200802', 3, 'A', 10)
    , (10001, '20201224', 2, 'A', 12)
    , (10005, '20201224', 1, 'B', 20)
    , (40001, '20210109', 2, 'A', 40)
    , (10006, '20210118', 1, 'C', 14)
    , (20001, '20210212', 2, 'B', 12)
    , (40005, '20220212', 3, 'A', 10)
    , (20002, '20220216', 1, 'C', 20)
    , (30003, '20220418', 2, 'B', 15)
    , (30004, '20200418', 3, 'C', 22)
    , (30007, '20220907', 3, 'D', 30);


-- CREATE dbo.Orders TABLE
USE Northwinds2022TSQLV7;
GO 

DROP TABLE IF EXISTS dbo.[Order];

CREATE TABLE dbo.[Order] 
(
    OrderId INT NOT NULL CONSTRAINT PK_Orders PRIMARY KEY
    , OrderDate DATE NOT NULL
    , EmployeeId INT NOT NULL
    , CustomerId VARCHAR(5)
    , Quantity INT NOT NULL
);

INSERT INTO dbo.[Order](OrderId, OrderDate, EmployeeId, CustomerId, Quantity)
VALUES
    (30001, '20200802', 3, 'A', 10)
    , (10001, '20201224', 2, 'A', 12)
    , (10005, '20201224', 1, 'B', 20)
    , (40001, '20210109', 2, 'A', 40)
    , (10006, '20210118', 1, 'C', 14)
    , (20001, '20210212', 2, 'B', 12)
    , (40005, '20220212', 3, 'A', 10)
    , (20002, '20220216', 1, 'C', 20)
    , (30003, '20220418', 2, 'B', 15)
    , (30004, '20200418', 3, 'C', 22)
    , (30007, '20220907', 3, 'D', 30);

In [ ]:
-- Exercise 6
USE TSQLV6;
GO

SELECT
    'TSQLV6' AS 'databasename'
    , GROUPING_ID(O.empid, O.custid, YEAR(O.Orderdate)) AS groupingset
    , O.empid
    , O.custid
    , YEAR(O.Orderdate) AS orderyear
    , SUM(O.qty) AS sumqty
FROM dbo.Orders AS O
GROUP BY
    GROUPING SETS
        (
            (O.empid, O.custid, YEAR(O.orderdate))
            , (O.empid, YEAR(O.orderdate))
            , (O.custid, YEAR(O.orderdate))
        );


-- Exercise 6
USE Northwinds2022TSQLV7;
GO

SELECT
    'Northwinds2022TSQLV7' AS 'DatabaseName'
    , GROUPING_ID(O.EmployeeId, O.CustomerId, YEAR(O.Orderdate)) AS GroupingSet
    , O.EmployeeId
    , O.CustomerId
    , YEAR(O.OrderDate) AS OrderYear
    , SUM(O.Quantity) AS SumQuantity
FROM dbo.[Order] AS O
GROUP BY
    GROUPING SETS
        (
            (O.EmployeeId, O.CustomerId, YEAR(O.OrderDate))
            , (O.EmployeeId, YEAR(O.OrderDate))
            , (O.CustomerId, YEAR(O.OrderDate))
        );

# **Edwin Wray**

### **Group 1**

### **Homework 7**

### Chapter 07 - Beyond the Fundamentals of Querying:

- Exercise 6  
    
- Unpivoting Data
    
- Unpivoting with the APPLY Operator  
    
- GROUPING and GROUPING\_ID Function

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Unpivoting Data</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 7 - Unpivoting Data**

Proposition: Create and populate the EmployeeCustomerOrder tabel with data from the dbo.\[Order\] table with PK EmployeeId, CustomerId and Quantity.

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.[Order] table.</span>

Columns: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeId, CustomerId and Quantity.</span>

Predicate: No predicate.

In [ ]:
-- Code to create and populate the EmpCustOrders table
USE TSQLV6;

DROP TABLE IF EXISTS dbo.EmpCustOrders;

CREATE TABLE dbo.EmpCustOrders
(
  empid INT NOT NULL
    CONSTRAINT PK_EmpCustOrders PRIMARY KEY,
  A VARCHAR(5) NULL,
  B VARCHAR(5) NULL,
  C VARCHAR(5) NULL,
  D VARCHAR(5) NULL
);

INSERT INTO dbo.EmpCustOrders(empid, A, B, C, D)
  SELECT empid, A, B, C, D
  FROM (SELECT empid, custid, qty
        FROM dbo.Orders) AS D
    PIVOT(SUM(qty) FOR custid IN(A, B, C, D)) AS P;

SELECT * FROM dbo.EmpCustOrders;


-- Code to create and populate the EmpCustOrders table
USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.EmployeeCustomerOrder;

CREATE TABLE dbo.EmployeeCustomerOrder
(
  EmployeeId INT NOT NULL
    CONSTRAINT PK_EmployeeCustomerOrder PRIMARY KEY,
  A VARCHAR(5) NULL,
  B VARCHAR(5) NULL,
  C VARCHAR(5) NULL,
  D VARCHAR(5) NULL
);

INSERT INTO dbo.EmployeeCustomerOrder(EmployeeId, A, B, C, D)
  SELECT EmployeeId, A, B, C, D
  FROM (SELECT EmployeeId, CustomerId, Quantity
        FROM dbo.[Order]) AS D
    PIVOT(SUM(Quantity) FOR CustomerId IN(A, B, C, D)) AS P;

SELECT * FROM dbo.EmployeeCustomerOrder;

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Unpivoting with the APPLY Operator</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 7 - Unpivoting with the APPY Operator**

Proposition: Generate copies of each row by creating the cartesian product of dbo.EmployeeCustomerOrder and the row values 'A', 'B', 'C' and 'D' as CustomerId.

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.EmployeeCustomerOrder</span>

Columns: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeId, CustomerId, Quantity and CustomerId.</span>

Predicate: No predicate.

In [ ]:
USE TSQLV6;

-- Unpivot Step 1: generate copies
SELECT *
FROM dbo.EmpCustOrders
  CROSS JOIN (VALUES('A'),('B'),('C'),('D')) AS C(custid);

-- -- Unpivot Step 2: extract elements
-- SELECT empid, custid, qty
-- FROM dbo.EmpCustOrders
--   CROSS JOIN (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(custid, qty);



USE Northwinds2022TSQLV7;

-- Unpivot Step 1: generate copies
SELECT *
FROM dbo.EmployeeCustomerOrder
  CROSS JOIN (VALUES('A'),('B'),('C'),('D')) AS C(CustomerId);

-- -- Unpivot Step 2: extract elements
-- SELECT EmployeeId, CustomerId, Quantity
-- FROM dbo.EmployeeCustomerOrder
--   CROSS JOIN (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Quantity);

**Chapter 7 - Unpivoting with the APPY Operator**

Proposition: A query that unpivots the dbo.EmployeeCustomerOrder table by cross applying the table values A, B, C and D to each each row.

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.EmployeeCustomerOrder</span>

Columns: EmployeeId, CustomerId and Quantity

Predicate: No predicate.

In [ ]:
USE TSQLV6;

SELECT empid, custid, qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(custid, qty);


USE Northwinds2022TSQLV7;

SELECT EmployeeId, CustomerId, Quantity
FROM dbo.EmployeeCustomerOrder
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Quantity);

**Chapter 7 -** **Unpivoting with the APPY Operator**

Proposition: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">A query that unpivots the dbo.EmployeeCustomerOrder table by cross applying the table values A, B, C and D to each each row, and filters the resulting table to only returns rows without NULL values.</span>

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.EmployeeCustomerOrder</span>

Columns: EmployeeId, CustomerId and Quantity

Predicate: No predicate.

In [ ]:
USE TSQLV6;

-- Unpivot Step 3: eliminate NULLs
SELECT empid, custid, qty
FROM dbo.EmpCustOrders
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(custid, qty)
WHERE qty IS NOT NULL;


USE Northwinds2022TSQLV7;

SELECT EmployeeId, CustomerId, Quantity
FROM dbo.EmployeeCustomerOrder
  CROSS APPLY (VALUES('A', A),('B', B),('C', C),('D', D)) AS C(CustomerId, Quantity)
WHERE Quantity IS NOT NULL;

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- GROUPING and GROUPING_ID Function</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 7 - GROUPING and GROUPING\_ID Function**

Proposition: A query that returns total quantity for each combination of employee and customer pair from the dbo.\[Order\] table.

Table:  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.[Order] AS O.</span>

Columns: O.EmployeeId, O.CustomerId, SUM(O.Quantity) AS SumQuantity.

Predicate: No Predicate.

In [ ]:
USE TSQLV6;

SELECT empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY CUBE(empid, custid);


USE Northwinds2022TSQLV7;

SELECT O.EmployeeId, O.CustomerId, SUM(O.Quantity) AS SumQuantity
FROM dbo.[Order] AS O
GROUP BY CUBE(O.EmployeeId, O.CustomerId);

**Chapter 7 -** **GROUPING and GROUPING\_ID Function**

Proposition: A query that returns total quantity for each combination of employee and customer pair from the dbo.\[Order\] table, while grouping the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">O.EmployeeId and O.CustomerId columns.</span>

Table:  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.[Order] AS O.</span>

Columns: GROUPING(O.EmployeeId) AS GroupEmployee,   GROUPING(O.CustomerId) AS GroupCustomer,   O.EmployeeId, O.CustomerId, SUM(O.Quantity) AS SumQuantity.

Predicate: No Predicate.

In [ ]:
USE TSQLV6;

SELECT
  GROUPING(empid) AS grpemp,
  GROUPING(custid) AS grpcust,
  empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY CUBE(empid, custid);


USE Northwinds2022TSQLV7;

SELECT
  GROUPING(O.EmployeeId) AS GroupEmployee,
  GROUPING(O.CustomerId) AS GroupCustomer,
  O.EmployeeId, O.CustomerId, SUM(O.Quantity) AS SumQuantity
FROM dbo.[Order] AS O
GROUP BY CUBE(O.EmployeeId, O.CustomerId);

**Chapter 7 -** **GROUPING and GROUPING\_ID Function**

Proposition: A query that returns total quantity for each combination of employee and customer pair from the dbo.\[Order\] table with the grouping set of <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">O.EmployeeId and O.CustomerId.</span>

Table:  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">dbo.[Order] AS O.</span>

Columns: GROUPING(O.EmployeeId) AS GroupEmployee,   GROUPING(O.CustomerId) AS GroupCustomer,   O.EmployeeId, O.CustomerId, SUM(O.Quantity) AS SumQuantity.

Predicate: No Predicate.

In [ ]:
USE TSQLV6;

SELECT
  GROUPING_ID(empid, custid) AS groupingset,
  empid, custid, SUM(qty) AS sumqty
FROM dbo.Orders
GROUP BY CUBE(empid, custid);

DROP TABLE IF EXISTS dbo.Orders;

DROP TABLE IF EXISTS dbo.EmpYearOrders;

DROP TABLE IF EXISTS dbo.EmpCustOrders;


USE Northwinds2022TSQLV7;

SELECT
  GROUPING_ID(O.EmployeeId, O.CustomerId) AS GroupingSet,
  O.EmployeeId, O.CustomerId, SUM(O.Quantity) AS SumQuantity
FROM dbo.[Order] AS O 
GROUP BY CUBE(O.EmployeeId, O.CustomerId);

DROP TABLE IF EXISTS dbo.[Order];

DROP TABLE IF EXISTS dbo.EmployeeYearOrder;

DROP TABLE IF EXISTS dbo.EmployeeCustomerOrder;