**HW1 part 2**

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Microsoft SQL Server T-SQL Fundamentals</span>

<span style="color: #008000;">-- Chapter 02 - Single-Table Queries</span>

<span style="color: #008000;">-- � Itzik Ben-Gan</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- 0 Elements of the SELECT Statement</span>  

<span style="color: #008000;">-- Listing 2-1: Sample Query</span>

In [ ]:
USE TSQLV4;
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

<span style="color: #008000;">1 The FROM Clause</span>

In [ ]:
SELECT orderid, custid, empid, orderdate, freight
FROM Sales.Orders;

<span style="color: #008000;">2 The WHERE Clause</span>

In [ ]:
SELECT orderid, empid, orderdate, freight
FROM Sales.Orders
WHERE custid = 71;

<span style="color: #008000;">3 The GROUP BY Clause</span>

In [ ]:
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

SELECT
  empid,
  YEAR(orderdate) AS orderyear,
  SUM(freight) AS totalfreight,
  COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);

/*
SELECT empid, YEAR(orderdate) AS orderyear, freight
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate);
*/

SELECT 
  empid, 
  YEAR(orderdate) AS orderyear, 
  COUNT(DISTINCT custid) AS numcusts
FROM Sales.Orders
GROUP BY empid, YEAR(orderdate);

<span style="color: #008000;">-- 4 The HAVING Clause</span>

In [ ]:
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

<span style="color: #008000;">-- 5 The SELECT Clause</span>

In [ ]:
SELECT orderid orderdate
FROM Sales.Orders;

SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

/*
SELECT orderid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE orderyear > 2015;
*/

SELECT orderid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE YEAR(orderdate) > 2015;

/*
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING numorders > 1;
*/

SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1;

-- Listing 2-2: Query Returning Duplicate Rows
SELECT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

-- Listing 2-3: Query With a DISTINCT Clause
SELECT DISTINCT empid, YEAR(orderdate) AS orderyear
FROM Sales.Orders
WHERE custid = 71;

SELECT *
FROM Sales.Shippers;

/*
SELECT orderid,
  YEAR(orderdate) AS orderyear,
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

SELECT orderid,
  YEAR(orderdate) AS orderyear,
  YEAR(orderdate) + 1 AS nextyear
FROM Sales.Orders;

<span style="color: #008000;">-- 6 The ORDER BY Clause</span>

In [ ]:
-- Listing 2-4: Query Demonstrating the ORDER BY Clause
SELECT empid, YEAR(orderdate) AS orderyear, COUNT(*) AS numorders
FROM Sales.Orders
WHERE custid = 71
GROUP BY empid, YEAR(orderdate)
HAVING COUNT(*) > 1
ORDER BY empid, orderyear;

SELECT empid, firstname, lastname, country
FROM HR.Employees
ORDER BY hiredate;

/*
SELECT DISTINCT country
FROM HR.Employees
ORDER BY empid;
*/

<span style="color: #008000;">-- 7 The TOP and OFFSET-FETCH Filters</span>

In [ ]:
---------------------------------------------------------------------
-- 7.1 The TOP Filter
---------------------------------------------------------------------
-- Listing 2-5: Query Demonstrating the TOP Option
SELECT TOP (5) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

SELECT TOP (1) PERCENT orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

-- Listing 2-6: Query Demonstrating TOP with Unique ORDER BY List
SELECT TOP (5) orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC, orderid DESC;

SELECT TOP (5) WITH TIES orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate DESC;

---------------------------------------------------------------------
-- 7.2 The OFFSET-FETCH Filter
---------------------------------------------------------------------

-- OFFSET-FETCH
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
ORDER BY orderdate, orderid
OFFSET 50 ROWS FETCH NEXT 25 ROWS ONLY;

<span style="color: #008000;">8 A Quick Look at Window Functions</span>

In [ ]:
SELECT orderid, custid, val,
  ROW_NUMBER() OVER(PARTITION BY custid
                    ORDER BY val) AS rownum
FROM Sales.OrderValues
ORDER BY custid, val;

<span style="color: #008000;">-- 9 Predicates and Operators</span>

In [ ]:
-- Predicates: IN, BETWEEN, LIKE
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid IN(10248, 10249, 10250);

SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid BETWEEN 10300 AND 10310;

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

-- Comparison operators: =, >, <, >=, <=, <>, !=, !>, !< 
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101';

-- Logical operators: AND, OR, NOT
SELECT orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101'
  AND empid IN(1, 3, 5);

-- Arithmetic operators: +, -, *, /, %
SELECT orderid, productid, qty, unitprice, discount,
  qty * unitprice * (1 - discount) AS val
FROM Sales.OrderDetails;

-- Operator Precedence

-- AND precedes OR
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
        custid = 1
    AND empid IN(1, 3, 5)
    OR  custid = 85
    AND empid IN(2, 4, 6);

-- Equivalent to
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
      ( custid = 1
        AND empid IN(1, 3, 5) )
    OR
      ( custid = 85
        AND empid IN(2, 4, 6) );

-- *, / precedes +, -
SELECT 10 + 2 * 3;   -- 16

SELECT (10 + 2) * 3; -- 36

<span style="color: #008000;">-- 10 CASE Expression</span>

In [ ]:
-- Simple
SELECT productid, productname, categoryid,
  CASE categoryid
    WHEN 1 THEN 'Beverages'
    WHEN 2 THEN 'Condiments'
    WHEN 3 THEN 'Confections'
    WHEN 4 THEN 'Dairy Products'
    WHEN 5 THEN 'Grains/Cereals'
    WHEN 6 THEN 'Meat/Poultry'
    WHEN 7 THEN 'Produce'
    WHEN 8 THEN 'Seafood'
    ELSE 'Unknown Category'
  END AS categoryname
FROM Production.Products;

-- Searched
SELECT orderid, custid, val,
  CASE 
    WHEN val < 1000.00                   THEN 'Less than 1000'
    WHEN val BETWEEN 1000.00 AND 3000.00 THEN 'Between 1000 and 3000'
    WHEN val > 3000.00                   THEN 'More than 3000'
    ELSE 'Unknown'
  END AS valuecategory
FROM Sales.OrderValues;

<span style="color: #008000;">-- 11 NULLs</span>

In [ ]:
SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = N'WA';

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA';

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region = NULL;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region IS NULL;

SELECT custid, country, region, city
FROM Sales.Customers
WHERE region <> N'WA'
   OR region IS NULL;

---------------------------------------------------------------------
-- All-At-Once Operations
---------------------------------------------------------------------

/*
SELECT 
  orderid, 
  YEAR(orderdate) AS orderyear, 
  orderyear + 1 AS nextyear
FROM Sales.Orders;
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE col1 <> 0 AND col2/col1 > 2;
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE
  CASE
    WHEN col1 = 0 THEN 'no' -- or 'yes' if row should be returned
    WHEN col2/col1 > 2 THEN 'yes'
    ELSE 'no'
  END = 'yes';
*/

/*
SELECT col1, col2
FROM dbo.T1
WHERE (col1 > 0 AND col2 > 2*col1) OR (col1 < 0 AND col2 < 2*col1); 
*/

---------------------------------------------------------------------
-- Working with Character Data
---------------------------------------------------------------------

---------------------------------------------------------------------
-- Collation
---------------------------------------------------------------------

SELECT name, description
FROM sys.fn_helpcollations();

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname = N'davis';

SELECT empid, firstname, lastname
FROM HR.Employees
WHERE lastname COLLATE Latin1_General_CS_AS = N'davis';

<span style="color: #008000;">--12 Operators and Functions</span>

In [ ]:
-- Concatenation
SELECT empid, firstname + N' ' + lastname AS fullname
FROM HR.Employees;

-- Listing 2-7: Query Demonstrating String Concatenation
SELECT custid, country, region, city,
  country + N',' + region + N',' + city AS location
FROM Sales.Customers;

-- convert NULL to empty string
SELECT custid, country, region, city,
  country + COALESCE( N',' + region, N'') + N',' + city AS location
FROM Sales.Customers;

-- using the CONCAT function
SELECT custid, country, region, city,
  CONCAT(country, N',' + region, N',' + city) AS location
FROM Sales.Customers;

-- Functions
SELECT SUBSTRING('abcde', 1, 3); -- 'abc'

SELECT RIGHT('abcde', 3); -- 'cde'

SELECT LEN(N'abcde'); -- 5

SELECT DATALENGTH(N'abcde'); -- 10

SELECT CHARINDEX(' ','Itzik Ben-Gan'); -- 6

SELECT PATINDEX('%[0-9]%', 'abcd123efgh'); -- 5

SELECT REPLACE('1-a 2-b', '-', ':'); -- '1:a 2:b'

SELECT empid, lastname,
  LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) AS numoccur
FROM HR.Employees;

SELECT REPLICATE('abc', 3); -- 'abcabcabc'

SELECT supplierid,
  RIGHT(REPLICATE('0', 9) + CAST(supplierid AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Suppliers;

SELECT STUFF('xyz', 2, 1, 'abc'); -- 'xabcz'

SELECT UPPER('Itzik Ben-Gan'); -- 'ITZIK BEN-GAN'

SELECT LOWER('Itzik Ben-Gan'); -- 'itzik ben-gan'

SELECT RTRIM(LTRIM('   abc   ')); -- 'abc'

SELECT FORMAT(1759, '0000000000'); -- '0000001759'

-- COMPRESS
SELECT COMPRESS(N'This is my cv. Imagine it was much longer.');

/*
INSERT INTO dbo.EmployeeCVs( empid, cv )
  VALUES( @empid, COMPRESS(@cv) );
*/

-- DECOMPRESS
SELECT DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'));

SELECT
  CAST(
    DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'))
      AS NVARCHAR(MAX));

/*
SELECT empid, CAST(DECOMPRESS(cv) AS NVARCHAR(MAX)) AS cv
FROM dbo.EmployeeCVs;
*/

-- STRING_SPLIT
SELECT CAST(value AS INT) AS myvalue
FROM STRING_SPLIT('10248,10249,10250', ',') AS S;

/*
myvalue
-----------
10248
10249
10250
*/

<span style="color: #008000;">-- 13 LIKE Predicate</span>

In [ ]:
-- Last name starts with D
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';

-- Second character in last name is e
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'_e%';

-- First character in last name is A, B or C
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[ABC]%';

-- First character in last name is A through E
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[A-E]%';

-- First character in last name is not A through E
SELECT empid, lastname
FROM HR.Employees
WHERE lastname LIKE N'[^A-E]%';

# <span style="color: rgb(0, 128, 0);">14 Working with Date and Time Data</span>

## 14.1

this quriery asks in `Sales.Order` table, to show Order ID, CustomerId,EmployeeId,OrderDate, and the only show the orders related to `20160212`

Use `CAST` can help with make string into `date` type 

Or just give a propoer string, sql kernel will auto make it into `data`

In [ ]:
-- 14.1
-- Literals
use [TSQLV4]

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders 
WHERE orderdate = '20160212';

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate = CAST('20160212' AS DATE);

USE [Northwinds2022TSQLV7]
SELECT o.OrderId,o.CustomerId,o.EmployeeId,o.OrderDate
FROM [Sales].[Order] as o
WHERE o.OrderDate = '20160212';

SELECT o.OrderId,o.CustomerId,o.EmployeeId,o.OrderDate
FROM [Sales].[Order] as o
WHERE orderdate = CAST('20160212' AS DATE);

## 14.2

Language Dependent

When given a string like "02/12/2016" for as a target order data

Use `CAST` to make string into `DATE` type and with set the target language to `British` , or `us_English`

`Note`:

- British use format: Year-Month-Day
- US\_English use format: Year-Day-Mounth

Tables involved: Sales.Order

In [ ]:
-- Language dependent
SET LANGUAGE British;
SELECT CAST('02/12/2016' AS DATE);

SET LANGUAGE us_english;
SELECT CAST('02/12/2016' AS DATE);

Give a Date like string such as 20160212, 02/12/2016 

Convert it into date tpye by useing `CASE`, `Convert`, `Parse`

Note:

- `101` and `en-US` represents the U.S. date format mm/dd/yyyy
- `103` and `en-GB` represents the British/French date format dd/mm/yyyy

In [ ]:
-- Language neutral
SET LANGUAGE British;
SELECT CAST('20160212' AS DATE);

SET LANGUAGE us_english;
SELECT CAST('20160212' AS DATE);

SELECT CONVERT(DATE, '02/12/2016', 101);

SELECT CONVERT(DATE, '02/12/2016', 103);

SELECT PARSE('02/12/2016' AS DATE USING 'en-US');

SELECT PARSE('02/12/2016' AS DATE USING 'en-GB');

<span style="color: #008000;">-- Create Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders</span>

Make a new table Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders 

Copy data: OrderID CustomerId, EmployeeId,OrderDate(but in `DATETIME` )

Table involed: Sales.Orders2, Sales.Orders;

Note: 
- DATE:     yyyy-MM-dd
- DATETIME: 1900-01-01 00:00:00

In [ ]:
-- Create Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders
USE [TSQLV4]
DROP TABLE IF EXISTS Sales.Orders2;
SELECT orderid, custid, empid, CAST(orderdate AS DATETIME) AS orderdate
INTO Sales.Orders2
FROM Sales.Orders;

SELECT TOP 20 * FROM [Sales].[Orders2]
GO

USE [Northwinds2022TSQLV7]
DROP TABLE IF EXISTS [Sales].[Order2];
SELECT o.OrderId, o.CustomerId, o.EmployeeId, CAST(o.OrderDate AS DATETIME) AS OrderDate
INTO [Sales].[Order2]
FROM [Sales].[Order] as o;

SELECT TOP 20 * FROM [Sales].[Order2]
GO

-- Query Sales.Orders2

In the `Sales.Orders2` table we just created,
find orders that the Order Date is `20160212`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders2
WHERE orderdate = '20160212';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order2] as o
WHERE o.OrderDate = '20160212';

add a check constraint to `Sales.order2`

where is to make sure the order date is year-mouth-day 00:00:00:000

Note:
- `114` format is 'hh:mi:ss:ms' is equal to '00:00:00:000'.

In [ ]:
USE [TSQLV4]
ALTER TABLE Sales.Orders2
  ADD CONSTRAINT CHK_Orders2_orderdate
  CHECK( CONVERT(CHAR(12), orderdate, 114) = '00:00:00:000');

USE [Northwinds2022TSQLV7]
ALTER TABLE [Sales].[Order2] 
    ADD CONSTRAINT CHK_Order2_OrderDate
    CHECK( CONVERT(CHAR(12), OrderDate, 114) = '00:00:00:000');

Question:

Sales.Order2 table we just created, find orders that the Order Date is between `20160212` and `20160213`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM [Sales].[Orders2]
WHERE orderdate >= '20160212' AND orderdate < '20160213';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order2] as o
WHERE o.OrderDate >= '20160212' AND o.OrderDate < '20160213';

Question:
what is '12:30:15.123' in datetime format?

In [ ]:
SELECT CAST('12:30:15.123' AS DATETIME);

-- 1900-01-01 12:30:15.123

In [ ]:
-- Cleanup
USE [TSQLV4];
DROP TABLE IF EXISTS Sales.Orders2;

USE [Northwinds2022TSQLV7];
DROP TABLE IF EXISTS Sales.Order2;

Question:

Show all orders that in 2015

Table involed: Sales.Order

In [ ]:
USE [TSQLV4];
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE YEAR(orderdate) = 2015;

USE [Northwinds2022TSQLV7];
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE YEAR(o.OrderDate) = 2015;

Question:

Show all orders that  within the range from `January 1, 2015`, to `December 31, 2016`. Excluding December 31, 2016 

Table involed: `Sales.Order`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20150101' AND orderdate < '20160101';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE o.OrderDate >= '20150101' AND o.OrderDate < '20160101';

Question:

Show all orders that in February 2016  

Table involed: `Sales.Order`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE YEAR(orderdate) = 2016 AND MONTH(orderdate) = 2;

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE YEAR(o.OrderDate) = 2016 AND MONTH(o.OrderDate) = 2;

SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE o.OrderDate >= '20160201' AND o.OrderDate < '20160301';

Question:

Show all ways to get current time

Table involed: Null

In [ ]:
SELECT
  GETDATE()           AS [GETDATE],
  CURRENT_TIMESTAMP   AS [CURRENT_TIMESTAMP],
  GETUTCDATE()        AS [GETUTCDATE],
  SYSDATETIME()       AS [SYSDATETIME],
  SYSUTCDATETIME()    AS [SYSUTCDATETIME],
  SYSDATETIMEOFFSET() AS [SYSDATETIMEOFFSET];

Question:

take `SYSDATATIME`, show the `data` part only 

and
take `SYSDATATIME`, show the `time` part only

Table involed: Null

In [ ]:
SELECT
  CAST(SYSDATETIME() AS DATE) AS [current_date],
  CAST(SYSDATETIME() AS TIME) AS [current_time];

Question:

take a `String`, case it into `date`

take `SYSDATATIME`, cast it into  `data`

take `SYSDATATIME`, cast it into  `time`

Table involed: Null

Note: 
- Style 112: yyyymmdd
- Style 114: hh:mi:ss:mmm in 24-hours

In [ ]:
-- The CAST, CONVERT and PARSE Functions and their TRY_ Counterparts
SELECT CAST('20160212' AS DATE);
SELECT CAST(SYSDATETIME() AS DATE);
SELECT CAST(SYSDATETIME() AS TIME);

SELECT CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112);
SELECT CONVERT(DATETIME, CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112), 112);

SELECT CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114);
SELECT CONVERT(DATETIME, CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114), 114);

SELECT PARSE('02/12/2016' AS DATETIME USING 'en-US');
SELECT PARSE('02/12/2016' AS DATETIME USING 'en-GB');

Question:

How to change the offset? aka change time zone

Table involed: Null

In [ ]:
-- SWITCHOFFSET
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '-05:00');
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '+00:00');

Question:

Show all time zones and its offset

Table involed: `sys.time_zone_info`

In [ ]:
SELECT name, current_utc_offset, is_currently_dst
FROM sys.time_zone_info;

Question:

How to converting `non-datetimeoffset`(DATETIME2) values

How to converting `datetimeoffset` values

- behavior similar to TODATETIMEOFFSET

In [ ]:
SELECT
  CAST('20160212 12:00:00.0000000' AS DATETIME2)
    AT TIME ZONE 'Pacific Standard Time' AS val1,
  CAST('20160812 12:00:00.0000000' AS DATETIME2)
    AT TIME ZONE 'Pacific Standard Time' AS val2;

SELECT
  CAST('20160212 12:00:00.0000000 -05:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val3,
  CAST('20160812 12:00:00.0000000 -04:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val4;

Question:

show all data `Arithmatic`

In [ ]:
-- DATEADD
SELECT DATEADD(year, 1, '20160212');

-- DATEDIFF
SELECT DATEDIFF(day, '20150212', '20160212');

SELECT DATEDIFF_BIG(millisecond, '00010101', '20160212');

SELECT
  DATEADD(
    day, 
    DATEDIFF(day, '19000101', SYSDATETIME()), '19000101');

SELECT
  DATEADD(
    month, 
    DATEDIFF(month, '19000101', SYSDATETIME()), '19000101');

SELECT
  DATEADD(
    year, 
    DATEDIFF(year, '18991231', SYSDATETIME()), '18991231');

Question:

what is DATEPART function do? show a example


Ans: the DATEPART function, which extracts a specific part (such as month, day, year, etc.) from a date

In [ ]:
SELECT DATEPART(month, '20160212');

Question:

Get DAY, MONTH, YEAR from a '20160212' (string)

In [ ]:
SELECT
  DAY('20160212') AS theday,
  MONTH('20160212') AS themonth,
  YEAR('20160212') AS theyear;

Question:

Get DATENAME from a '20160212' (string)

use DAY, MONTH, YEAR in DATENAME function

In [ ]:
-- DATENAME

SELECT DATENAME(day, '20160212') as day,
        DATENAME(month, '20160212') as month,
       DATENAME(year, '20160212') as year;

Question:

How to check if a given string is vaild data?

Note:
- use ISDATE function

In [ ]:
SELECT ISDATE('20160212');
SELECT ISDATE('20160230');

Question:

Given parts, how to combine them into a vaild data type?

Note:
- use ***FROMPARTS function

In [ ]:
SELECT
  DATEFROMPARTS(2016, 02, 12),
  DATETIME2FROMPARTS(2016, 02, 12, 13, 30, 5, 1, 7),
  DATETIMEFROMPARTS(2016, 02, 12, 13, 30, 5, 997),
  DATETIMEOFFSETFROMPARTS(2016, 02, 12, 13, 30, 5, 1, -8, 0, 7),
  SMALLDATETIMEFROMPARTS(2016, 02, 12, 13, 30),
  TIMEFROMPARTS(13, 30, 5, 1, 7);


Question:

how to last day of current month?

Note:
- use `EOMONTH` function

In [ ]:
SELECT EOMONTH(SYSDATETIME());

Question:

find all orders that placed at the last day of month

Hit:
- use `EOMONTH` function

In [ ]:
-- orders placed on last day of month
USE [TSQLV4]
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate = EOMONTH(orderdate);

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE orderdate = EOMONTH(orderdate);

In [ ]:
-- 14
-- Literals

-- Language neutral

-- Working with Date and Time Separately

-- Create Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders

-- Query Sales.Orders2

-- Functions

-- Current Date and Time

-- The CAST, CONVERT and PARSE Functions and their TRY_ Counterparts


-- SWITCHOFFSET


-- TODATETIMEOFFSET
/*
UPDATE dbo.T1
  SET dto = TODATETIMEOFFSET(dt, theoffset);
*/

-- AT TIME ZONE

-- Converting non-datetimeoffset values
-- behavior similar to TODATETIMEOFFSET


-- Converting datetimeoffset values
-- behavior similar to SWITCHOFFSET


-- DATEADD

-- DATEDIFF


-- DATEPART

-- DAY, MONTH, YEAR


-- DATENAME

-- ISDATE

-- fromparts

-- EOMONTH
-- orders placed on last day of month
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate = EOMONTH(orderdate);

<span style="color: #008000;">-- 15 Querying Metadata</span>

In [ ]:
-- Catalog Views
USE TSQLV4;

SELECT SCHEMA_NAME(schema_id) AS table_schema_name, name AS table_name
FROM sys.tables;

SELECT 
  name AS column_name,
  TYPE_NAME(system_type_id) AS column_type,
  max_length,
  collation_name,
  is_nullable
FROM sys.columns
WHERE object_id = OBJECT_ID(N'Sales.Orders');

-- Information Schema Views
SELECT TABLE_SCHEMA, TABLE_NAME
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = N'BASE TABLE';

SELECT 
  COLUMN_NAME, DATA_TYPE, CHARACTER_MAXIMUM_LENGTH, 
  COLLATION_NAME, IS_NULLABLE
FROM INFORMATION_SCHEMA.COLUMNS
WHERE TABLE_SCHEMA = N'Sales'
  AND TABLE_NAME = N'Orders';

-- System Stored Procedures and Functions
EXEC sys.sp_tables;

EXEC sys.sp_help
  @objname = N'Sales.Orders';

EXEC sys.sp_columns
  @table_name = N'Orders',
  @table_owner = N'Sales';

EXEC sys.sp_helpconstraint
  @objname = N'Sales.Orders';

SELECT 
  SERVERPROPERTY('ProductLevel');

SELECT
  DATABASEPROPERTYEX(N'TSQLV4', 'Collation');

SELECT 
  OBJECTPROPERTY(OBJECT_ID(N'Sales.Orders'), 'TableHasPrimaryKey');

SELECT
  COLUMNPROPERTY(OBJECT_ID(N'Sales.Orders'), N'shipcountry', 'AllowsNull');