**Runze Sun**
**Group 1**
**_Q3_ and _Q4_**

## 3

Return employees with last name containing the letter 'e' twice or more

**Tables involved:** HR.Employees table

**Desired output:**

```
empid       firstname  lastname
----------- ---------- --------------------
4           Yael       Peled
5           Sven       Mortensen

```

_(2 row(s) affected)_

- Proposition:

> The proposition in this query is expressed in the WHERE clause.  
> `LEN(e.lastname) - LEN(REPLACE(e.lastname, 'e', '')) >= 2`:  
> This proposition checks whether the length of the last name minus the length of the last name after replacing all occurrences of the letter 'e' is greater than or equal to 2.  
> This condition implies that the last name must contain the letter 'e' at least twice.

- Table:

> The table involved is  ``[HumanResources`].[Employees]``

- Columns:

> Columns selected in the query are  `e.empid`,  `e.firstname`, and  `e.lastname`.  
> These columns represent the Employee ID, first name, and last name, respectively, from the  `[HR].[Employees]`  table.

- Predicate:

> The predicate is the condition specified in the WHERE clause.  
> `LEN(e.lastname) - LEN(REPLACE(e.lastname, 'e', '')) >= 2`: This is the predicate that filters the rows. It checks if the last name contains the letter 'e' at least twice.  
> The expression checks whether the last name has the letter 'e' at least twice by calculating the difference in length before and after removing all occurrences of 'e' and then checking if this count is greater than or equal to 2. If the condition is satisfied, the row is included in the result set.

- Putting it all together, this query retrieves Employee IDs, first names, and last names from the  `[`<span style="color:rgb(33, 33, 33);font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">HumanResources</span>`].[Employees]`  table where the last name contains the letter 'e' at least twice. The proposition defines the condition, the table is  `[`<span style="color:rgb(33, 33, 33);font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">HumanResources</span>`].[Employees]`  (aliased as 'e'), and the selected columns are  `empid`,  `firstname`, and  `lastname`.

In [ ]:
USE [TSQLV4] 
GO

SELECT e.empid, e.firstname, e.lastname
From [HR].[Employees] as e
WHERE LEN(e.lastname) - LEN(REPLACE(e.lastname, 'e', '')) >= 2;

USE [Northwinds2022TSQLV7] 
GO
SELECT e.EmployeeId,e.EmployeeFirstName,e.EmployeeLastName
From [HumanResources].[Employee] as e
WHERE LEN(e.EmployeeLastName) - LEN(REPLACE(e.EmployeeLastName, 'e', '')) >= 2;

## 4

## 

Return orders with total value(qty\*unitprice) greater than 10000, sorted by total value

**Tables involved:** Sales.OrderDetails table

**Desired output:**

```
orderid     totalvalue
----------- ---------------------
10865       17250.00
11030       16321.90
10981       15810.00
10372       12281.20
10424       11493.20
10817       11490.70
10889       11380.00
10417       11283.20
10897       10835.24
10353       10741.60
10515       10588.50
10479       10495.60
10540       10191.70
10691       10164.80
```

- SELECT Clause:
    
    - `od.orderid`: This selects the `orderid` column from the `[Sales].[OrderDetails]` table.
    - `SUM(od.qty * od.unitprice) AS totalvalue`: This calculates the total value for each order by summing the product of quantity (`od.qty`) and unit price (`od.unitprice`). The result is aliased as `totalvalue`.
- FROM Clause:
    
    - `[Sales].[OrderDetails] AS od`: Specifies the table `[Sales].[OrderDetails]` and aliases it as 'od' for brevity. This is the table from which data is being retrieved.
- GROUP BY Clause:
    
    - `GROUP BY od.orderid`: Groups the result set by the `orderid` column. This means that the subsequent aggregate function (`SUM`) operates on each unique `orderid`.
- HAVING Clause:
    
    - `HAVING SUM(od.qty * od.unitprice) > 10000`: Filters the grouped results to include only those where the sum of the quantity times unit price is greater than 10000. This is applied after the grouping has been done.
    - The `HAVING` clause is used in SQL queries to filter the results of a `GROUP BY` clause based on aggregate values.
- ORDER BY Clause:
    
    - `ORDER BY totalvalue DESC`: Orders the result set by the total value (`totalvalue`) in descending order.

In summary, this query retrieves order IDs and their corresponding total values from the `[Sales].[OrderDetails]` table. It groups the results by order ID, filters out groups where the total value is not greater than 10000, and finally, orders the remaining results by total value in descending order.

In [ ]:
USE [TSQLV4] 
GO

SELECT od.orderid, SUM (od.qty * od.unitprice) AS totalvalue
FROM [Sales].[OrderDetails] as od
GROUP BY od.orderid
HAVING SUM(od.qty * od.unitprice) > 10000
ORDER BY totalvalue DESC;


USE [Northwinds2022TSQLV7] 
GO

SELECT od.OrderId, SUM (od.Quantity * od.UnitPrice) AS totalvalue
FROM [Sales].[OrderDetail] as od
GROUP BY od.orderid
HAVING SUM (od.Quantity * od.UnitPrice) > 10000
ORDER BY totalvalue DESC;

# **Part 2 Working with Date and Time Data**

## 14.1

Question:

this quriery asks in `Sales.Order` table, to show Order ID, CustomerId,EmployeeId,OrderDate, and the only show the orders date is `20160212`

Use `CAST` can help with make string into `date` type 

Or just give a vaild string, sql kernel will auto make it into `data`

Table involed: `Sales.Order`

In [ ]:
-- 14.1
-- Literals
use [TSQLV4]

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders 
WHERE orderdate = '20160212';

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate = CAST('20160212' AS DATE);

USE [Northwinds2022TSQLV7]
SELECT o.OrderId,o.CustomerId,o.EmployeeId,o.OrderDate
FROM [Sales].[Order] as o
WHERE o.OrderDate = '20160212';

SELECT o.OrderId,o.CustomerId,o.EmployeeId,o.OrderDate
FROM [Sales].[Order] as o
WHERE orderdate = CAST('20160212' AS DATE);

## 14.2

Question:

Language Dependent

When given a string like "02/12/2016" for as a target order data

Use `CAST` to make string into `DATE` type and with set the target language to `British` , or `us_English`

`Note`:

- British use format: Year-Month-Day
- US\_English use format: Year-Day-Mounth

Tables involved: Sales.Order

In [ ]:
-- Language dependent
SET LANGUAGE British;
SELECT CAST('02/12/2016' AS DATE);

SET LANGUAGE us_english;
SELECT CAST('02/12/2016' AS DATE);

Question:


Give a Date like string such as 20160212, 02/12/2016 

Convert it into date tpye by useing `CASE`, `Convert`, `Parse`

Note:

- `101` and `en-US` represents the U.S. date format mm/dd/yyyy
- `103` and `en-GB` represents the British/French date format dd/mm/yyyy

In [ ]:
-- Language neutral
SET LANGUAGE British;
SELECT CAST('20160212' AS DATE);

SET LANGUAGE us_english;
SELECT CAST('20160212' AS DATE);

SELECT CONVERT(DATE, '02/12/2016', 101);

SELECT CONVERT(DATE, '02/12/2016', 103);

SELECT PARSE('02/12/2016' AS DATE USING 'en-US');

SELECT PARSE('02/12/2016' AS DATE USING 'en-GB');

Question:

Make a new table Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders 

Copy data: OrderID CustomerId, EmployeeId,OrderDate(but in `DATETIME` )

Tables involved: Sales.Orders2, Sales.Orders;

Note:

- DATE: yyyy-MM-dd
- DATETIME: 1900-01-01 00:00:00

In [ ]:
-- Create Sales.Orders2 with orderdate as DATETIME by copying data from Sales.Orders
USE [TSQLV4]
DROP TABLE IF EXISTS Sales.Orders2;
SELECT orderid, custid, empid, CAST(orderdate AS DATETIME) AS orderdate
INTO Sales.Orders2
FROM Sales.Orders;

SELECT TOP 20 * FROM [Sales].[Orders2]
GO

USE [Northwinds2022TSQLV7]
DROP TABLE IF EXISTS [Sales].[Order2];
SELECT o.OrderId, o.CustomerId, o.EmployeeId, CAST(o.OrderDate AS DATETIME) AS OrderDate
INTO [Sales].[Order2]
FROM [Sales].[Order] as o;

SELECT TOP 20 * FROM [Sales].[Order2]
GO

Question:

In the `Sales.Order2` table we just created,
find orders that the Order Date is `20160212`

Tables involved: Sales.Order2

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders2
WHERE orderdate = '20160212';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order2] as o
WHERE o.OrderDate = '20160212';

Question:

add a check constraint to `Sales.order2`

where is to make sure the order date is year-mouth-day 00:00:00:000

Note:

- `114` format is 'hh:mi:ss:ms' is equal to '00:00:00:000'.

In [ ]:
USE [TSQLV4]
ALTER TABLE Sales.Orders2
  ADD CONSTRAINT CHK_Orders2_orderdate
  CHECK( CONVERT(CHAR(12), orderdate, 114) = '00:00:00:000');

USE [Northwinds2022TSQLV7]
ALTER TABLE [Sales].[Order2] 
    ADD CONSTRAINT CHK_Order2_OrderDate
    CHECK( CONVERT(CHAR(12), OrderDate, 114) = '00:00:00:000');

Question:

Sales.Order2 table we just created, find orders that the Order Date is between `20160212` and `20160213`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM [Sales].[Orders2]
WHERE orderdate >= '20160212' AND orderdate < '20160213';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order2] as o
WHERE o.OrderDate >= '20160212' AND o.OrderDate < '20160213';

Question:

what is '12:30:15.123' in datetime format?

In [ ]:
SELECT CAST('12:30:15.123' AS DATETIME);

-- 1900-01-01 12:30:15.123

In [ ]:
-- Cleanup
USE [TSQLV4];
DROP TABLE IF EXISTS Sales.Orders2;

USE [Northwinds2022TSQLV7];
DROP TABLE IF EXISTS Sales.Order2;

Question:

Show all orders that in 2015


Table involed: Sales.Order

In [ ]:
USE [TSQLV4];
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE YEAR(orderdate) = 2015;

USE [Northwinds2022TSQLV7];
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE YEAR(o.OrderDate) = 2015;

Question:

Show all orders that  within the range from `January 1, 2015`, to `December 31, 2016`. Excluding December 31, 2016 

Table involed: `Sales.Order`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20150101' AND orderdate < '20160101';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE o.OrderDate >= '20150101' AND o.OrderDate < '20160101';

Question:

Show all orders that in February 2016  

Table involed: `Sales.Order`

In [ ]:
USE [TSQLV4]
SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE YEAR(orderdate) = 2016 AND MONTH(orderdate) = 2;

SELECT orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160201' AND orderdate < '20160301';

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE YEAR(o.OrderDate) = 2016 AND MONTH(o.OrderDate) = 2;

SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE o.OrderDate >= '20160201' AND o.OrderDate < '20160301';

Question:

Show all ways to get current time

Table involed: Null

In [ ]:
SELECT
  GETDATE()           AS [GETDATE],
  CURRENT_TIMESTAMP   AS [CURRENT_TIMESTAMP],
  GETUTCDATE()        AS [GETUTCDATE],
  SYSDATETIME()       AS [SYSDATETIME],
  SYSUTCDATETIME()    AS [SYSUTCDATETIME],
  SYSDATETIMEOFFSET() AS [SYSDATETIMEOFFSET];

Question:

take `SYSDATATIME`, show the `data` part only 

and
take `SYSDATATIME`, show the `time` part only

Table involed: Null

In [ ]:
SELECT
  CAST(SYSDATETIME() AS DATE) AS [current_date],
  CAST(SYSDATETIME() AS TIME) AS [current_time];

Question:

take a `String`, case it into `date`

take `SYSDATATIME`, cast it into  `data`

take `SYSDATATIME`, cast it into  `time`

Table involed: Null

Note: 
- Style 112: yyyymmdd
- Style 114: hh:mi:ss:mmm in 24-hours

In [ ]:
-- The CAST, CONVERT and PARSE Functions and their TRY_ Counterparts
SELECT CAST('20160212' AS DATE);
SELECT CAST(SYSDATETIME() AS DATE);
SELECT CAST(SYSDATETIME() AS TIME);

SELECT CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112);
SELECT CONVERT(DATETIME, CONVERT(CHAR(8), CURRENT_TIMESTAMP, 112), 112);

SELECT CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114);
SELECT CONVERT(DATETIME, CONVERT(CHAR(12), CURRENT_TIMESTAMP, 114), 114);

SELECT PARSE('02/12/2016' AS DATETIME USING 'en-US');
SELECT PARSE('02/12/2016' AS DATETIME USING 'en-GB');

Question:

How to change the offset? aka change time zone

Table involed: Null

In [ ]:
-- SWITCHOFFSET
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '-05:00');
SELECT SWITCHOFFSET(SYSDATETIMEOFFSET(), '+00:00');

Question:

Show all time zones and its offset

Table involed: `sys.time_zone_info`

In [ ]:
SELECT name, current_utc_offset, is_currently_dst
FROM sys.time_zone_info;

Question:

How to converting `non-datetimeoffset`(DATETIME2) values

How to converting `datetimeoffset` values

- behavior similar to TODATETIMEOFFSET

In [ ]:
SELECT
  CAST('20160212 12:00:00.0000000' AS DATETIME2)
    AT TIME ZONE 'Pacific Standard Time' AS val1,
  CAST('20160812 12:00:00.0000000' AS DATETIME2)
    AT TIME ZONE 'Pacific Standard Time' AS val2;

SELECT
  CAST('20160212 12:00:00.0000000 -05:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val3,
  CAST('20160812 12:00:00.0000000 -04:00' AS DATETIMEOFFSET)
    AT TIME ZONE 'Pacific Standard Time' AS val4;

Question:

show all data `Arithmatic`

In [ ]:
-- DATEADD
SELECT DATEADD(year, 1, '20160212');

-- DATEDIFF
SELECT DATEDIFF(day, '20150212', '20160212');

SELECT DATEDIFF_BIG(millisecond, '00010101', '20160212');

SELECT
  DATEADD(
    day, 
    DATEDIFF(day, '19000101', SYSDATETIME()), '19000101');

SELECT
  DATEADD(
    month, 
    DATEDIFF(month, '19000101', SYSDATETIME()), '19000101');

SELECT
  DATEADD(
    year, 
    DATEDIFF(year, '18991231', SYSDATETIME()), '18991231');

Question:

what is DATEPART function do? show a example


Ans: the DATEPART function, which extracts a specific part (such as month, day, year, etc.) from a date

In [ ]:
SELECT DATEPART(month, '20160212');

Question:

Get DAY, MONTH, YEAR from a '20160212' (string)

In [ ]:
SELECT
  DAY('20160212') AS theday,
  MONTH('20160212') AS themonth,
  YEAR('20160212') AS theyear;

Question:

Get DATENAME from a '20160212' (string)

use DAY, MONTH, YEAR in DATENAME function

In [ ]:
-- DATENAME

SELECT DATENAME(day, '20160212') as day,
        DATENAME(month, '20160212') as month,
       DATENAME(year, '20160212') as year;

Question:

How to check if a given string is vaild data?

Note:
- use ISDATE function

In [ ]:
SELECT ISDATE('20160212');
SELECT ISDATE('20160230');

Question:

Given parts, how to combine them into a vaild data type?

Note:
- use ***FROMPARTS function

In [ ]:
SELECT
  DATEFROMPARTS(2016, 02, 12),
  DATETIME2FROMPARTS(2016, 02, 12, 13, 30, 5, 1, 7),
  DATETIMEFROMPARTS(2016, 02, 12, 13, 30, 5, 997),
  DATETIMEOFFSETFROMPARTS(2016, 02, 12, 13, 30, 5, 1, -8, 0, 7),
  SMALLDATETIMEFROMPARTS(2016, 02, 12, 13, 30),
  TIMEFROMPARTS(13, 30, 5, 1, 7);


Question:

how to last day of current month?

Note:
- use `EOMONTH` function

In [ ]:
SELECT EOMONTH(SYSDATETIME());

Question:

find all orders that placed at the last day of month

Hit:
- use `EOMONTH` function

In [ ]:
-- orders placed on last day of month
USE [TSQLV4]
SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate = EOMONTH(orderdate);

USE [Northwinds2022TSQLV7]
SELECT o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM [Sales].[Order] as o
WHERE orderdate = EOMONTH(orderdate);