# Edwin Wray

### Group 1

### Homework 1

- Questions 1 and 9
- Predicates and Operators
- Operators and Functions

<span style="color: #008000;">-- 1</span>

<span style="color: #008000;">-- Return orders placed in June 2015</span>

<span style="color: #008000;">-- Tables involved: TSQLV4 database, Sales.Orders table</span>

  

<span style="color: #008000;">-- Desired output:</span>

orderid orderdate custid empid

<span style="color: #008000;">----------- ---------- ----------- -----------</span>

<span style="color: #09885a;">10555</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">02</span> <span style="color: #09885a;">71</span> <span style="color: #09885a;">6</span>

<span style="color: #09885a;">10556</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">03</span> <span style="color: #09885a;">73</span> <span style="color: #09885a;">2</span>

<span style="color: #09885a;">10557</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">03</span> <span style="color: #09885a;">44</span> <span style="color: #09885a;">9</span>

<span style="color: #09885a;">10558</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span> <span style="color: #09885a;">4</span> <span style="color: #09885a;">1</span>

<span style="color: #09885a;">10559</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span> <span style="color: #09885a;">7</span> <span style="color: #09885a;">6</span>

<span style="color: #09885a;">10560</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span> <span style="color: #09885a;">25</span> <span style="color: #09885a;">8</span>

<span style="color: #09885a;">10561</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span> <span style="color: #09885a;">24</span> <span style="color: #09885a;">2</span>

<span style="color: #09885a;">10562</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">09</span> <span style="color: #09885a;">66</span> <span style="color: #09885a;">1</span>

<span style="color: #09885a;">10563</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">10</span> <span style="color: #09885a;">67</span> <span style="color: #09885a;">2</span>

<span style="color: #09885a;">10564</span> <span style="color: #09885a;">2015</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span><span style="color: #000000;">-</span><span style="color: #09885a;">10</span> <span style="color: #09885a;">65</span> <span style="color: #09885a;">4</span>

...

  

(<span style="color: #09885a;">30</span> <span style="color: #0000ff;">row</span>(s) affected)

Proposition - Write a query that returns all orders placed in June 2015. Return the <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderId, OrderDate, CustomerId, EmployeeId</span>  of those orders.

Table - Sales.\[Order\]  table with the alias o.

Columns - Four desired <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">columns:</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderId, OrderDate, CustomerId, EmployeeId </span> <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">from the Sales.[Order] table.</span>

Predicate - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">It&nbsp;</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">is the condition specified in the WHERE clause,&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">YEAR(o.orderdate) = 2015 and MONTH(o.orderdate) = 6. This is the predicate that filters the rows. It checks if the year of the order date is equal to 2015 and the month is equal to 6 (June).</span>

This query retrieves <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderIds, OrderDates, CustomerIds, EmployeeIds </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from the&nbsp;</span>   Sales.\[Order\] <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table where the order date corresponds to the year 2015 and the month June.</span>

In [ ]:
-- Qeury using TSQLV4 data base
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, o.orderid, o.orderdate, o.custid, o.empid
FROM Sales.Orders as o
WHERE YEAR(o.orderdate) = 2015 and MONTH(o.orderdate) = 6


-- Qeury using Northwinds2022TSQLV7 database 
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.OrderDate, o.CustomerId, o.EmployeeId
FROM Sales.[Order] as o
WHERE YEAR(o.OrderDate) = 2015 and MONTH(o.OrderDate) = 6

<span style="color: #008000;">-- 9</span>

<span style="color: #008000;">-- Figure out and return for each employee the gender based on the title of courtesy</span>

<span style="color: #008000;">-- Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown</span>

<span style="color: #008000;">-- Tables involved: HR.Employees table</span>

  

<span style="color: #008000;">-- Desired output:</span>

empid firstname lastname titleofcourtesy gender

<span style="color: #008000;">----------- ---------- -------------------- ------------------------- -------</span>

<span style="color: #09885a;">1</span> Sara Davis Ms. Female

<span style="color: #09885a;">2</span> Don Funk Dr. Unknown

<span style="color: #09885a;">3</span> Judy Lew Ms. Female

<span style="color: #09885a;">4</span> Yael Peled Mrs. Female

<span style="color: #09885a;">5</span> Sven Mortensen Mr. Male

<span style="color: #09885a;">6</span> Paul Suurs Mr. Male

<span style="color: #09885a;">7</span> Russell King Mr. Male

<span style="color: #09885a;">8</span> Maria Cameron Ms. Female

<span style="color: #09885a;">9</span> Patricia Doyle Ms. Female

  

(<span style="color: #09885a;">9</span> <span style="color: #0000ff;">row</span>(s) affected)

Proposition - Write a query that infers each employee's gender based on their <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">TitleOfCourtesy, and returns their </span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId, FirstName, LastName, and TitleOfCourtesy.</span>

Table - <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">HumanResources.Employee</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table with the alias e.</span>

Columns - Five desired <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">columns:</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId, EmployeeFirstName, EmployeeLastName, and EmployeeTitleOfCourtesy </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from the&nbsp;</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">HumanResources.Employee</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table, and Gender populated by a CASE in the SELECT clasue.</span>

Predicate - The query retrieves specific columns from the "HumanResources.Employee" table and uses a CASE statement to create a derived column called "Gender" based on the values in the "EmployeeTitleOfCourtesy" column.

In [ ]:
-- Qeury using TSQLV4 data base
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, e.empid, e.firstname, e.lastname, e.titleofcourtesy, 
    CASE e.titleofcourtesy
        WHEN 'Mr.' THEN 'Male'
        WHEN 'Ms.' THEN 'Female'
        WHEN 'Mrs.' THEN 'Female'
        ELSE 'Unknown'
    END as gender
FROM HR.Employees as e


-- Qeury using Northwinds2022TSQLV7 database 
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, e.EmployeeId, e.EmployeeFirstName
    , e.EmployeeLastName, e.EmployeeTitleOfCourtesy, 
    CASE e.EmployeeTitleOfCourtesy
        WHEN 'Mr.' THEN 'Male'
        WHEN 'Ms.' THEN 'Female'
        WHEN 'Mrs.' THEN 'Female'
        ELSE 'Unknown'
    END as Gender
FROM HumanResources.Employee as e

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- 9 Predicates and Operators</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

Proposition: Write a query that returns orders with the id 10248, <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">10249, or&nbsp;</span>    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">10250.&nbsp;</span>       

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order]</span>

Columns: OrderId, EmployeeId, and OrderDate from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: WHERE o.OrderId IN (10248, 10249, 10250). This Where clause filters the Sales.\[Order\] table to only return rows whose OrderId matches a value IN the subquery (10248, 10249, 10250)

In [ ]:
USE TSQLV4;

-- Predicates: IN, BETWEEN, LIKE
SELECT N'TSQLV4' AS databasename, orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid IN(10248, 10249, 10250);


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.EmployeeId, o.OrderDate
FROM Sales.[Order] as o 
WHERE o.OrderId IN (10248, 10249, 10250);

Proposition: Write a query that only returns orders whose ids are between 10300 and 10310 inclusively.

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order]</span>

Columns: OrderId, EmployeeId, and OrderDate from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: WHERE o.OrderId BETWEEN 10300 AND 10310. This W<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">here clause filters the Sales.[Order] table to only return rows whose OrderId&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">are between 10300 and 10310 inclusively.</span>

In [ ]:
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, orderid, empid, orderdate
FROM Sales.Orders
WHERE orderid BETWEEN 10300 AND 10310;


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.EmployeeId, o.OrderDate
FROM Sales.[Order] as o
WHERE o.OrderId BETWEEN 10300 AND 10310;

Proposition: Write a query that returns all employees whose lastname begins with the letter 'D'.

Table: HumanResources.Employee

Columns: EmployeeId, EmployeeFirstName, and EmployeeLastName from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table.</span>

Predicate: WHERE e.EmployeeLastName LIKE N'D%'. <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">This W</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">here clause filters the&nbsp;</span>   HumanResources.Employee <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table to only return rows whose&nbsp;</span>   EmployeeLastName   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;begin with the character 'D'. The LIKE operator compares each row's&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeLastName value with the string pattern&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">N'D%' and returns the row in the resulting table if the value matches the string pattern.</span>

In [ ]:
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, empid, firstname, lastname
FROM HR.Employees
WHERE lastname LIKE N'D%';


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, e.EmployeeId
    , e.EmployeeFirstName, e.EmployeeLastName
FROM HumanResources.Employee as e
WHERE e.EmployeeLastName LIKE N'D%';

Proposition: Write a query that returns all orders placed on or after 01/01/2016. Return the <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderId, EmployeeId, and OrderDate of those orders.</span>

Table: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Sales.[Order] with alias</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">o.</span>

Columns: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderId, EmployeeId, and OrderDate from table</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Sales.[Order].</span>

Predicate: The predicate o.OrderDate \>= '20160101' in the Where clause filters the table and only returns orders' with an order date that is on or after <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">01/01/2016.</span>

In [ ]:
USE TSQLV4;

-- Comparison operators: =, >, <, >=, <=, <>, !=, !>, !< 
SELECT N'TSQLV4' AS databasename, orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101';


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.EmployeeId, o.OrderDate
FROM Sales.[Order] as o
WHERE o.OrderDate >= '20160101';

Proposition: Write a query that <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">returns only orders placed on or after&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">01/01/2016, and served by one of three employees with ids 1, 3, or 5.</span>

Table: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Sales.[Order] with alias</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">o.</span>

Columns: N'Northwinds2022TSQLV7' as D<span style="font-size: 12px; white-space: pre;">atabaseName, and OrderId, EmployeeId and OrderDate from the </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Sales.[Order] table.</span>

Predicate: The predicate o.OrderDate \>= '20160101' AND o.EmployeeId IN(1, 3, 5) returns only orders placed on or after <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">01/01/2016, and&nbsp;</span>  served by one of three employees with ids 1, 3, or 5<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">. The where clause then filters the table to only return the rows that satifies both predicates.</span>

In [ ]:
-- Qeury using TSQLV4 data base
USE TSQLV4;

-- Logical operators: AND, OR, NOT
SELECT N'TSQLV4' AS databasename, orderid, empid, orderdate
FROM Sales.Orders
WHERE orderdate >= '20160101'
  AND empid IN(1, 3, 5);


-- Qeury using Northwinds2022TSQLV7 data base
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.EmployeeId, o.OrderDate
FROM Sales.[Order] as o
WHERE o.OrderDate >= '20160101'
  AND o.EmployeeId IN(1, 3, 5);

Proposition: Write a query that returns the value of the total amount of each row, after discounts are applied. Return the OrderId, ProductId, Quantity, UnitPrice, DiscountPercentage,  and Value after discount.

Table: Sales.OrderDetail as alias od.

Columns: DatabaseName, <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">OrderId, ProductId, Quantity, UnitPrice, DiscountPercentage,&nbsp; and Val (valuue after discount).</span>

Predicate: There is no predicate in this query.

In [ ]:
USE TSQLV4;

-- Arithmetic operators: +, -, *, /, %
SELECT N'TSQLV4' AS databasename, orderid, productid, qty, unitprice, discount,
  qty * unitprice * (1 - discount) AS val
FROM Sales.OrderDetails;


USE Northwinds2022TSQLV7;

-- Arithmetic operators: +, -, *, /, %
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, od.OrderId, od.ProductId, 
    od.Quantity, od.UnitPrice, od.DiscountPercentage,
  od.Quantity * od.UnitPrice * (1 - od.DiscountPercentage) AS Val
FROM Sales.OrderDetail as od;

Proposition: Write a query that returns orders (placed with <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId 1, and fullfilled by </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId 1, 3, or 5) or (</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">placed with&nbsp;</span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId 85, and fullfilled by </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId 2, 4, or 6).</span>

Table: Sales.\[Order\] as alias o.

Columns: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName and OrderId, CustomerId, EmployeeId, and OrderDate from </span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: o.CustomerId = 1 AND o.EmployeeId IN(1, 3, 5) returns rows where <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId is equal to 1 and </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId is 1, 3, or 5.</span>

<span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Or </span>  <span style="font-size: 12px; white-space: pre;">o.CustomerId = 85 AND o.EmployeeId IN(2, 4, 6) </span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">returns rows where&nbsp;</span>    <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId is equal to 85 and </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId is </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">2, 4, or 6.</span>

In [ ]:
USE TSQLV4;

-- Operator Precedence

-- AND precedes OR
SELECT N'TSQLV4' AS databasename, orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
        custid = 1
    AND empid IN(1, 3, 5)
    OR  custid = 85
    AND empid IN(2, 4, 6);


USE Northwinds2022TSQLV7;

-- AND precedes OR
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.CustomerId, o.EmployeeId, o.OrderDate
FROM Sales.[Order] as o
WHERE
        o.CustomerId = 1
    AND o.EmployeeId IN(1, 3, 5)
    OR  o.CustomerId = 85
    AND o.EmployeeId IN(2, 4, 6);

Proposition: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Write a query that returns orders placed with&nbsp;</span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId 1, and fullfilled by </span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId 1, 3, or 5, or </span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">placed with&nbsp;</span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId 85, and fullfilled by </span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId 2, 4, or 6.</span>

Table: Sales.\[Order\] as alias o.

Columns: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">DatabaseName and OrderId, CustomerId, EmployeeId, and OrderDate from </span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: (<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">o.CustomerId = 1 AND o.EmployeeId IN(1, 3, 5)) returns rows where&nbsp;</span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId is equal to 1 and </span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId is 1, 3, or 5.</span>

<span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Or </span>   (<span style="font-size: 12px; white-space: pre;">o.CustomerId = 85 AND o.EmployeeId IN(2, 4, 6)) </span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">returns rows where&nbsp;</span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">CustomerId is equal to 85 and </span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId is </span>   <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">2, 4, or 6.</span>

In [ ]:
USE TSQLV4;

-- Equivalent to
SELECT N'TSQLV4' AS databasename, orderid, custid, empid, orderdate
FROM Sales.Orders
WHERE
      ( custid = 1
        AND empid IN(1, 3, 5) )
    OR
      ( custid = 85
        AND empid IN(2, 4, 6) );


USE Northwinds2022TSQLV7;

-- Equivalent to
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.OrderId, o.CustomerId
    , o.EmployeeId, o.OrderDate
FROM Sales.[Order] as o
WHERE
      ( o.CustomerId = 1
        AND o.EmployeeId IN(1, 3, 5) )
    OR
      ( o.CustomerId = 85
        AND o.EmployeeId IN(2, 4, 6) );

Proposition: Write a query that showcases the arithmetic operators order of precedence.

Table: None.

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Columns: DatabaseName and arithmetic result.</span>

Predicate: 10 + 2 \* 3 results in 16 since the \* operator has precedence over the + operator. (10 + 2) \* 3 results in 36 since ( has precedence over the \* operator.

In [ ]:
USE TSQLV4;

-- *, / precedes +, -
SELECT N'TSQLV4', 10 + 2 * 3   -- 16

SELECT N'TSQLV4', (10 + 2) * 3 -- 36


USE Northwinds2022TSQLV7;
-- *, / precedes +, -
SELECT N'Northwinds2022TSQLV7', 10 + 2 * 3   -- 16

SELECT N'Northwinds2022TSQLV7', (10 + 2) * 3 -- 36

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

<span style="color: rgb(0, 128, 0);">-- 12 Operators and Functions</span>

<span style="color: rgb(0, 128, 0);">---------------------------------------------------------------------</span>

Proposition: Write a query that uses the + operator to concatonate Employees First and Last name together, and returns a table with Employee's id and full name.

Table: HumanResources.Employee as e

Columns: DatabaseName, EmployeeId <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">, and EmployeeFirstName&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">and EmployeeLastName&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">HumanResources.Employee table concatonated as</span>  <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">&nbsp;FullName.</span>

Predicate: N/A

In [ ]:
USE TSQLV4;

-- Concatenation
SELECT N'TSQLV4' AS databasename, empid, firstname + N' ' + lastname AS fullname
FROM HR.Employees;


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, e.EmployeeId, e.EmployeeFirstName + N' ' + e.EmployeeLastName AS FullName
FROM HumanResources.Employee as e;

Proposition: Write a query that demonstrates string concatenation for the customer's country, region, and city columns from the Sales.Customer table, creating a location column.  

Table: Sales.Customer as alias c.  

Columns: DatabaseName, CustomerId, CustomerCountry, CustomerRegion, CustomerCity, and Location (concatenation of CustomerCountry, CustomerRegion, and CustomerCity).  

Predicate: None, as this query aims to concatenate columns from the Sales.Customer table without without the use of predicate.

In [ ]:
USE TSQLV4;

-- Listing 2-7: Query Demonstrating String Concatenation
SELECT N'TSQLV4' AS databasename, custid, country, region, city,
  country + N',' + region + N',' + city AS location
FROM Sales.Customers;


USE Northwinds2022TSQLV7;

-- Listing 2-7: Query Demonstrating String Concatenation
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, c.CustomerId
    , c.CustomerCountry, c.CustomerRegion, c.CustomerCity,
  c.CustomerCountry + N',' + c.CustomerRegion + N',' + c.CustomerCity AS Location
FROM Sales.Customer as c;

Proposition: Write a query that returns customer's id, country, region, city and complete address as their location. Use the coalesce function to concatonate the customers location.

Table: Sales.\[Customer\] as c.

Columns: CustomerId, CustomerCountry, CustomerRegion, and CustomerCity from the Sales.\[Customer\] and Location.

Predicate: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">None, as this query aims to concatenate columns from the Sales.Customer table without without the use of predicate.</span>

In [ ]:
USE TSQLV4;

-- convert NULL to empty string
SELECT N'TSQLV4' AS databasename, custid, country, region, city,
  country + COALESCE( N',' + region, N'') + N',' + city AS location
FROM Sales.Customers;


USE Northwinds2022TSQLV7;

-- convert NULL to empty string
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, c.CustomerId, c.CustomerCountry, c.CustomerRegion, c.CustomerCity,
  c.CustomerCountry + COALESCE( N',' + c.CustomerRegion, N'') + N',' + c.CustomerCity AS Location
FROM Sales.[Customer] as c;

Proposition: Write a query that returns customer's id, country, region, city and complete address as their location. Use the concat function to concatonate the customers location.

Table: Sales.\[Customer\] as c.

Columns: CustomerId, CustomerCountry, CustomerRegion, and CustomerCity from the Sales.\[Customer\] and Location.

Predicate: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">None, as this query aims to concatenate columns from the Sales.Customer table without without the use of predicate.</span>

In [ ]:
USE TSQLV4;

-- using the CONCAT function
SELECT N'TSQLV4' AS databasename, custid, country, region, city,
  CONCAT(country, N',' + region, N',' + city) AS location
FROM Sales.Customers;


USE Northwinds2022TSQLV7;

-- using the CONCAT function
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, c.CustomerId, c.CustomerCountry, c.CustomerRegion, c.CustomerCity,
  CONCAT(c.CustomerCountry, N',' + c.CustomerRegion, N',' + c.CustomerCity) AS Location
FROM Sales.[Customer] as c;

Proposition: 

1. Write a query that returns a substring of the first three characters in a given string. Use the function SUBSTRING(string, first, length).
2. Write a query that returns a substring of the three rightmost characters in a given string. Use the function RIGHT(string, length). 
3. Write a query that returns the length of a given string. Use the function LEN(string).
4. Write a query that returns the character byte of a given string. Use the function DATALENGTH(string).
5. Write a query that returns the index of the first occurance of character in a given string. Use the function CHARINDEX(character, string\[, start\_pos\]).
6. Write a query that returns the index of the first occurance of a pattern of character/s in a given string. Use the function PATINDEX(pattern, string).
7. Write a query that replaces a substring in a given string, with a new substring. Use the function REPLACE(string, replaced\_substring, replacement\_substring).
8. Write a query that replicate a string a specified amount of times. Use the function REPLICATE(string, num\_times).
9. Write a query that replaced a specified a specified number of sequential characters with a given string. Use the function STUFF(string, start\_pos, num\_chars, replacement\_substring).
10. Write a query that changes all characters in a string to uppercase. Use the function UPPER(string).
11. Write a query that changes all characters in a string to lowercase. Use the function LOWER(string).
12. Write a query that removes all whitespaces from a sting. Use the functions RTRIM(string) and LTRIM(string).
13. Write a query that returns the string equivalent of a number; if the number is less than 10 characaters, pad the remaining characters of the string with leading zeros. Use the function FORMAT(number, string).

Table: None.

Columns: One unamed column that contains the return value of the function ran.

Predicate: No predicates.

In [ ]:
USE Northwinds2022TSQLV7;

-- Functions
SELECT SUBSTRING('abcde', 1, 3); -- 'abc'

SELECT RIGHT('abcde', 3); -- 'cde'

SELECT LEN(N'abcde'); -- 5

SELECT DATALENGTH(N'abcde'); -- 10

SELECT CHARINDEX(' ','Itzik Ben-Gan'); -- 6

SELECT PATINDEX('%[0-9]%', 'abcd123efgh'); -- 5

SELECT REPLACE('1-a 2-b', '-', ':'); -- '1:a 2:b'

SELECT REPLICATE('abc', 3); -- 'abcabcabc'

SELECT STUFF('xyz', 2, 1, 'abc'); -- 'xabcz'

SELECT UPPER('Itzik Ben-Gan'); -- 'ITZIK BEN-GAN'

SELECT LOWER('Itzik Ben-Gan'); -- 'itzik ben-gan'

SELECT RTRIM(LTRIM('   abc   ')); -- 'abc'

SELECT FORMAT(1759, '0000000000'); -- '0000001759'

Proposition: Write a query that counts the numnber of occurances of the character e in every employee's lastname. Use LEN() and REPLACE() to replace all occurances of 'e' from <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeLastName and return the diff of len (</span><span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeLastName - </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeLastName with 'e').</span>

Table: H<span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">umanResources.Employee as </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">e</span>

Columns: D<span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">atabaseName, EmployeeId and EmployeeLastName from </span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">H</span><span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">umanResources.Employee table,</span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;"> and </span>  <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">NumOccur.</span>

Predicate: No predicate in the query.

In [ ]:
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, empid, lastname,
  LEN(lastname) - LEN(REPLACE(lastname, 'e', '')) AS numoccur
FROM HR.Employees;


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, e.EmployeeId, e.EmployeeLastName,
  LEN(e.EmployeeLastName) - LEN(REPLACE(e.EmployeeLastName, 'e', '')) AS NumOccur
FROM HumanResources.Employee as e;

Proposition: Write a query that returns the supplierid as a string with 10 characters; padd the string with zero on the left if needed.<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">REPLICATE('0', 9) return a string of 9 zeros and concatonate it with</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;CAST(s.SupplierId AS VARCHAR(10)) to convert the supplierid to a string of 10 maximum characters. Lastly return the 10 rightmost characters.</span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Table:&nbsp;Production.[Supplier] as s.</span>

Columns: <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">SupplierId from the </span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Production.[Supplier]</span>     <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;table and&nbsp;</span>     <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">StrSupplierId.</span>

Predicate: There are no predicates in query.

In [ ]:
USE TSQLV4;

SELECT N'TSQLV4' AS databasename, supplierid,
  RIGHT(REPLICATE('0', 9) + CAST(supplierid AS VARCHAR(10)),
        10) AS strsupplierid
FROM Production.Suppliers;


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, s.SupplierId,
  RIGHT(REPLICATE('0', 9) + CAST(s.SupplierId AS VARCHAR(10)),
        10) AS StrSupplierId
FROM Production.[Supplier] as s;

Proposition: Write a query that uses data compression and decompression, and string splitting.

Table: Not applicable as the query doesn't involve any specific tables. It primarily demonstrates the usage of SQL functions.

Columns: Not applicable as there are no columns being selected from any table.

Predicate: The query showcases the following:

- Compression of a given string using the COMPRESS function.
- Decompression of the compressed string using the DECOMPRESS function.
- Casting the decompressed string to NVARCHAR(MAX).
- Splitting a string into multiple values using the STRING\_SPLIT function.

In [ ]:
USE Northwinds2022TSQLV7;

-- COMPRESS
SELECT COMPRESS(N'This is my cv. Imagine it was much longer.');

/*
INSERT INTO dbo.EmployeeCVs( empid, cv )
  VALUES( @empid, COMPRESS(@cv) );
*/

-- DECOMPRESS
SELECT DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'));

SELECT
  CAST(
    DECOMPRESS(COMPRESS(N'This is my cv. Imagine it was much longer.'))
      AS NVARCHAR(MAX));

/*
SELECT empid, CAST(DECOMPRESS(cv) AS NVARCHAR(MAX)) AS cv
FROM dbo.EmployeeCVs;
*/

-- STRING_SPLIT
SELECT CAST(value AS INT) AS myvalue
FROM STRING_SPLIT('10248,10249,10250', ',') AS S;

/*
myvalue
-----------
10248
10249
10250
*/