### **jia chen group 1 : Q6 and Q7**

### **Q6**

  

\-- Explain the difference between the following two queries

\-- Query 1

SELECT empid, COUNT(\*) AS numorders

FROM Sales.Orders

WHERE orderdate \< '20160501'

GROUP BY empid;

\-- Query 2

SELECT empid, COUNT(\*) AS numorders

FROM Sales.Orders

GROUP BY empid

HAVING MAX(orderdate) \< '20160501';

**Test the TSQLV4 is successfully**

In [2]:
USE [TSQLV4] 
GO

SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;

SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';

empid,numorders
1,118
2,94
3,127
4,154
5,42
6,67
7,70
8,101
9,43

empid,numorders
9,43
3,127
6,67
5,42

**Now we need modify the queries in the Northwind database.**

In [3]:
USE [Northwinds2022TSQLV7] 
GO

SELECT EmployeeId, COUNT(*) AS numorders
FROM [Sales].[Order]
WHERE OrderDate < '20160501'
GROUP BY EmployeeId;

SELECT EmployeeId, COUNT(*) AS numorders
FROM [Sales].[Order]
GROUP BY EmployeeId
HAVING MAX(OrderDate) < '20160501';

EmployeeId,numorders
9,43
3,127
6,67
7,70
1,118
4,154
5,42
2,94
8,101

EmployeeId,numorders
9,43
3,127
6,67
5,42

**ANS for Q6**

<span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; white-space-collapse: preserve;">Query 1:</span>

<span style="color: #0000ff;">SELECT</span> EmployeeId, <span style="color: #795e26;">COUNT</span>(<span style="color: #000000;">*</span>) <span style="color: #0000ff;">AS</span> numorders

<span style="color: #0000ff;">FROM</span> \[Sales\].\[Order\]

<span style="color: #0000ff;">WHERE</span> OrderDate <span style="color: #000000;">&lt;</span> <span style="color: #a31515;">'20160501'</span>

<span style="color: #0000ff;">GROUP BY</span> EmployeeId;

  

  

### <span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-wrap: wrap;">This query filters the orders based on the condition<span style="background-color: yellow;">(orderdata)</span></span> <span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-wrap: wrap; background-color: yellow;"> before grouping them by employeeID</span><span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-wrap: wrap;">. It counts the number of orders for each employee that satisfies the condition.</span>

  

  

<span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-wrap: wrap;">Query 2 :</span>

<span style="font-size: 16px;"><br></span>

<span style="color: #0000ff;">SELECT</span> EmployeeId, <span style="color: #795e26;">COUNT</span>(<span style="color: #000000;">*</span>) <span style="color: #0000ff;">AS</span> numorders

<span style="color: #0000ff;">FROM</span> \[Sales\].\[Order\]

<span style="color: #0000ff;">GROUP BY</span> EmployeeId

<span style="color: #0000ff;">HAVING</span> <span style="color: #795e26;">MAX</span>(OrderDate) <span style="color: #000000;">&lt;</span> <span style="color: #a31515;">'20160501'</span>;

<span style="color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-wrap: wrap;">This query groups all orders by </span> <span style="background-color: yellow; color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px; text-wrap: wrap;">employeeID </span> <span style="text-wrap: wrap; color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px;">without any initial filtering. Then, it applies the HAVING</span> <span style="text-wrap: wrap; color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px;"> clause to filter the grouped results. </span> <span style="text-wrap: wrap; color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px;">In this case, it filters out groups where the <span style="background-color: yellow;">maximum order date </span></span> <span style="text-wrap: wrap; color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px;"><span style="background-color: yellow;"></span>is before May 1, 2016.</span>

<span style="text-wrap: wrap; color: rgb(55, 65, 81); font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px;"><br></span>

In summary:

- Query 1 filters the rows before grouping.
- Query 2 groups all rows first and then applies a filter based on the maximum order date per group.

### **Q7**

  

\-- Return the three ship countries with the highest average freight for orders placed in 2015

\-- Tables involved: Sales.Orders table

  

\-- Desired output:

shipcountry     avgfreight

\--------------- ---------------------

Austria         178.3642

Switzerland     117.1775

Sweden          105.16

  

(3 row(s) affected)

**Test the TSQLV4 is successfully**

In [4]:
USE [TSQLV4] 
GO

SELECT TOP 3 ShipCountry, AVG(Freight) AS AvgFreight
FROM Sales.Orders
WHERE YEAR(OrderDate) = 2015
GROUP BY ShipCountry
ORDER BY AVG(Freight) DESC;

ShipCountry,AvgFreight
Austria,178.3642
Switzerland,117.1775
Sweden,105.16

### 

- `SELECT TOP 3`: This clause ensures that only the top 3 rows are returned.

### 

- `ShipCountry`: This is the column representing the country where the order was shipped.

### 

- `AVG(Freight) AS AvgFreight`: This calculates the average freight cost for each ship country.

### 

- `FROM Sales.Orders`: Specifies the table from which to retrieve the data.

### 

- `WHERE YEAR(OrderDate) = 2015`: Filters the orders to only include those placed in 2015.

### 

- `GROUP BY ShipCountry`: Groups the results by the ship country.

### 

- `ORDER BY AVG(Freight) DESC`: Orders the result set by the average freight cost in descending order, ensuring that the countries with the highest average freight appear first.

**Now we need modify the queries in the Northwind database.**

In [5]:
USE [Northwinds2022TSQLV7] 
GO

SELECT TOP 3 ShipToCountry, AVG(Freight) AS AvgFreight
FROM [Sales].[Order]
WHERE YEAR(OrderDate) = 2015
GROUP BY ShipToCountry
ORDER BY AVG(Freight) DESC;

ShipToCountry,AvgFreight
Austria,178.3642
Switzerland,117.1775
Sweden,105.16

**ANS for Q7**
<span style="color: #0000ff;">SELECT</span> <span style="color: #0000ff;">TOP</span> <span style="color: #09885a;">3</span> ShipToCountry, <span style="color: #795e26;">AVG</span>(Freight) <span style="color: #0000ff;">AS</span> AvgFreight
<span style="color: #0000ff;">FROM</span> \[Sales\].\[Order\]
<span style="color: #0000ff;">WHERE</span> <span style="color: #795e26;">YEAR</span>(OrderDate) <span style="color: #000000;">=</span> <span style="color: #09885a;">2015</span>
<span style="color: #0000ff;">GROUP BY</span> ShipToCountry
<span style="color: #0000ff;">ORDER BY</span> <span style="color: #795e26;">AVG</span>(Freight) <span style="color: #0000ff;">DESC</span>;
### since on the northerwind database we get the same result from the given, we will consider the queries work successfully