# Microsoft SQL Server T-SQL Fundamentals
## Chapter 02 - Single-Table Queries
### Exercises

##


---
## 1 
Return orders placed in June 2021

**Tables involved:** TSQLV6 database, Sales.Orders table

**Desired output:**
```sql
orderid     orderdate  custid      empid
----------- ---------- ----------- -----------
10555       2021-06-02 71          6
10556       2021-06-03 73          2
10557       2021-06-03 44          9
10558       2021-06-04 4           1
10559       2021-06-05 7           6
10560       2021-06-06 25          8
10561       2021-06-06 24          2
10562       2021-06-09 66          1
10563       2021-06-10 67          2
10564       2021-06-10 65          4
...

Proposition - Write a query that returns all orders placed in June 2015. Return the <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderId, OrderDate, CustomerId, EmployeeId</span>  of those orders.

Table - Sales.\[Order\]  table with the alias o.

Columns - Four desired <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">columns:</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderId, OrderDate, CustomerId, EmployeeId </span>  <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">from the Sales.[Order] table.</span>

Predicate - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">It&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">is the condition specified in the WHERE clause,&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">YEAR(o.orderdate) = 2015 and MONTH(o.orderdate) = 6. This is the predicate that filters the rows. It checks if the year of the order date is equal to 2015 and the month is equal to 6 (June).</span>

This query retrieves <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">OrderIds, OrderDates, CustomerIds, EmployeeIds</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from the&nbsp;</span> Sales.\[Order\] <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table where the order date corresponds to the year 2015 and the month June.</span>

In [ ]:
-- Qeury using TSQLV4 data base
USE TSQLV4;

SELECT o.orderid, o.orderdate, o.custid, o.empid
FROM Sales.Orders as o
WHERE YEAR(o.orderdate) = 2015 and MONTH(o.orderdate) = 6


-- Qeury using Northwinds2022TSQLV7 database 
USE Northwinds2022TSQLV7;

SELECT o.OrderId, o.OrderDate, o.CustomerId, o.EmployeeId
FROM Sales.[Order] as o
WHERE YEAR(o.OrderDate) = 2015 and MONTH(o.OrderDate) = 6

### Explanation

Explain the details of the proposition, table, columns and the predicate.

## Q2

# <span style="font-size:14px;font-family:-apple-system, BlinkMacSystemFont, sans-serif;">Return orders placed on the day before the last day of the month</span>

### **Tables involved:** 

# <span style="font-size:14px;font-family:-apple-system, BlinkMacSystemFont, sans-serif;">Sales.Orders table, using TSQLV4. Sales.Order table, using&nbsp;</span>  <span style="color:rgb(33, 33, 33);font-family:Menlo, Monaco, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">Northwinds2022TSQLV7.</span>

**Similar goal output:**

```
orderid     orderdate  custid      empid
----------- ---------- ----------- -----------
10268       2020-07-30 33          8
10294       2020-08-30 65          4
10342       2020-10-30 25          4
10368       2020-11-29 20          2
10398       2020-12-30 71          2
10430       2021-01-30 20          4
10431       2021-01-30 10          4
10459       2021-02-27 84          4
10520       2021-04-29 70          7
10521       2021-04-29 12          8
...

```

_(27 row(s) affected)_

* * *

## **<span style="font-family:georgia, palatino, serif;margin:0px;padding:0px;border:0px;outline:0px;font-size:14pt;text-shadow:none;">Proposition, Table, Columns and the Predicate.</span>**

The question is based on the what predicate to use in order to check if a order is placed before the last day of the month. This **Problem** can be extended to any table that involves a date. The **columns** to be affected By this are orderdate and any other columns that which to be included as a result of the query. There are two ways to get this comparison to work, this is the **predicate** of the solution that will enable us to get the right result.

#### Using the End of month function

We can invoke the `EOMONTH(date)` function to return what the end of the month would be. Then subtract by one day back to get the second to last day of any month using <span style="color:rgb(163, 21, 21);font-family:Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;;font-size:12px;">DATEADD(day, -1, date)</span>.

#### Using the Date arithmetic

Peform a complex manipulation with `DATEDIFF(type, firstDate, secondDate)` and `DATEADD(type, units, date)`. To do the latter operation we would have to first subtract how many units from a base date whos date is the last day of the month. Then you use that value to add it to the base date to get the date to compare your current date with. Finally subtract by one day to get the second to last day.

### **<u>Prefered method</u>**

The former solution is both simple and readable. This solution also does not require the developer to know thier date trivia, therefore making it an accesible solution.

**Note**

The 3rd edition changes the question to strictly the last dat of the month. The question above uses the 4th edition so you will find different number of records if running on different databases.

In [ ]:
-- Original Query for TSQLV4

USE TSQLV4;

SELECT orderid, orderdate, custid, empid
FROM Sales.Orders
WHERE orderdate = DATEADD(day, -1, EOMONTH(orderdate));


-- New Query for Northwinds

USE Northwinds2022TSQLV7;

SELECT OrderId, OrderDate, CustomerId, EmployeeId
FROM Sales.[Order]
WHERE OrderDate = DATEADD(day, -1, EOMONTH(OrderDate));

* * *

## 3

Return employees with last name containing the letter 'e' twice or more

**Tables involved:** HR.Employees table

**Desired output:**

```
empid       firstname  lastname
----------- ---------- --------------------
4           Yael       Peled
5           Sven       Mortensen

```

_(2 row(s) affected)_

- Proposition:
    

> <span style="color: var(--vscode-foreground);">The proposition in this query is expressed in the WHERE clause.<br></span>`LEN(e.lastname) - LEN(REPLACE(e.lastname, 'e', '')) >= 2`<span style="color: var(--vscode-foreground);">:<br></span><span style="color: var(--vscode-foreground);">This proposition checks whether the length of the last name minus the length of the last name after replacing all occurrences of the letter 'e' is greater than or equal to 2.<br></span><span style="color: var(--vscode-foreground);">This condition implies that the last name must contain the letter 'e' at least twice.</span>

- <span style="color: var(--vscode-foreground);">Table:</span>

> <span style="color: var(--vscode-foreground);">The table involved is&nbsp;</span> ``[HumanResources`].[Employees]`<span style="font-size: 14px; color: var(--vscode-foreground); font-family: &quot;Segoe WPC&quot;, &quot;Segoe UI&quot;, sans-serif;">.<br></span>``<span style="color: rgb(163, 21, 21); font-family: Menlo, Monaco, Consolas, &quot;Droid Sans Mono&quot;, &quot;Courier New&quot;, monospace, &quot;Droid Sans Fallback&quot;; font-size: 12px;">[HumanResources</span>`].[Employees] AS e`<span style="color: var(--vscode-foreground);">: This renames the table to 'e' for brevity, and 'e' is used as an alias throughout the query.</span>

- <span style="color: var(--vscode-foreground);">Columns:</span>

> <span style="color: var(--vscode-foreground);">Columns selected in the query are&nbsp;</span> `e.empid`<span style="color: var(--vscode-foreground);">,&nbsp;</span> `e.firstname`<span style="color: var(--vscode-foreground);">, and&nbsp;</span> `e.lastname`<span style="color: var(--vscode-foreground);">.<br></span><span style="color: var(--vscode-foreground);">These columns represent the Employee ID, first name, and last name, respectively, from the&nbsp;</span> `[HR].[Employees]` <span style="color: var(--vscode-foreground);">&nbsp;table.</span>

- <span style="color: var(--vscode-foreground);">Predicate:</span>

> <span style="color: var(--vscode-foreground);">The predicate is the condition specified in the WHERE clause.<br></span>`LEN(e.lastname) - LEN(REPLACE(e.lastname, 'e', '')) >= 2`<span style="color: var(--vscode-foreground);">: This is the predicate that filters the rows. It checks if the last name contains the letter 'e' at least twice.<br></span><span style="color: var(--vscode-foreground);">The expression checks whether the last name has the letter 'e' at least twice by calculating the difference in length before and after removing all occurrences of 'e' and then checking if this count is greater than or equal to 2. If the condition is satisfied, the row is included in the result set.</span>

- <span style="color: var(--vscode-foreground);">Putting it all together, this query retrieves Employee IDs, first names, and last names from the&nbsp;</span> `[`<span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">HumanResources</span>`].[Employees]` <span style="color: var(--vscode-foreground);">&nbsp;table where the last name contains the letter 'e' at least twice. The proposition defines the condition, the table is&nbsp;</span> `[`<span style="color: rgb(33, 33, 33); font-family: Consolas, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">HumanResources</span>`].[Employees]` <span style="color: var(--vscode-foreground);">&nbsp;(aliased as 'e'), and the selected columns are&nbsp;</span> `empid`<span style="color: var(--vscode-foreground);">,&nbsp;</span> `firstname`<span style="color: var(--vscode-foreground);">, and&nbsp;</span> `lastname`<span style="color: var(--vscode-foreground);">.</span>

* * *

In [ ]:
USE [TSQLV4] 
GO

SELECT e.empid, e.firstname, e.lastname
From [HR].[Employees] as e
WHERE LEN(e.lastname) - LEN(REPLACE(e.lastname, 'e', '')) >= 2;

USE [Northwinds2022TSQLV7] 
GO
SELECT e.EmployeeId,e.EmployeeFirstName,e.EmployeeLastName
From [HumanResources].[Employee] as e
WHERE LEN(e.EmployeeLastName) - LEN(REPLACE(e.EmployeeLastName, 'e', '')) >= 2;

## 4

Return orders with total value(qty\*unitprice) greater than 10000, sorted by total value

**Tables involved:** Sales.OrderDetails table

**Desired output:**

```
orderid     totalvalue
----------- ---------------------
10865       17250.00
11030       16321.90
10981       15810.00
10372       12281.20
10424       11493.20
10817       11490.70
10889       11380.00
10417       11283.20
10897       10835.24
10353       10741.60
10515       10588.50
10479       10495.60
10540       10191.70
10691       10164.80

```

_(14 row(s) affected)_

- SELECT Clause:
    
    - `od.orderid`: This selects the `orderid` column from the `[Sales].[OrderDetails]` table.
    - `SUM(od.qty * od.unitprice) AS totalvalue`: This calculates the total value for each order by summing the product of quantity (`od.qty`) and unit price (`od.unitprice`). The result is aliased as `totalvalue`.
- FROM Clause:
    
    - `[Sales].[OrderDetails] AS od`: Specifies the table `[Sales].[OrderDetails]` and aliases it as 'od' for brevity. This is the table from which data is being retrieved.
- GROUP BY Clause:
    
    - `GROUP BY od.orderid`: Groups the result set by the `orderid` column. This means that the subsequent aggregate function (`SUM`) operates on each unique `orderid`.
- HAVING Clause:
    
    - `HAVING SUM(od.qty * od.unitprice) > 10000`: Filters the grouped results to include only those where the sum of the quantity times unit price is greater than 10000. This is applied after the grouping has been done.
    - The `HAVING` clause is used in SQL queries to filter the results of a `GROUP BY` clause based on aggregate values.
- ORDER BY Clause:
    
    - `ORDER BY totalvalue DESC`: Orders the result set by the total value (`totalvalue`) in descending order.

In summary, this query retrieves order IDs and their corresponding total values from the `[Sales].[OrderDetails]` table. It groups the results by order ID, filters out groups where the total value is not greater than 10000, and finally, orders the remaining results by total value in descending order.

* * *

In [ ]:
USE [TSQLV4] 
GO

SELECT od.orderid, SUM (od.qty * od.unitprice) AS totalvalue
FROM [Sales].[OrderDetails] as od
GROUP BY od.orderid
HAVING SUM(od.qty * od.unitprice) > 10000
ORDER BY totalvalue DESC;


USE [Northwinds2022TSQLV7] 
GO

SELECT od.OrderId, SUM (od.Quantity * od.UnitPrice) AS totalvalue
FROM [Sales].[OrderDetail] as od
GROUP BY od.orderid
HAVING SUM (od.Quantity * od.UnitPrice) > 10000
ORDER BY totalvalue DESC;

---
## 5
Write a query against the HR.Employees table that returns employees with a last name that starts with a lowercase letter. Remember that the collation of the sample database is case-insensitive (Latin1_General_CI_AS). For simplicity, you can assume that only English letters are used in the employee last names.

**Tables involved:** HR.Employees table

**Desired output: The empty set**
```sql
empid       lastname
----------- --------------------
```

*(0 row(s) affected)*

---

# Answer

In [ ]:
USE TSQLV4

SELECT
       empid,
       lastname
FROM
       HR.Employees
WHERE
       lastname COLLATE Latin1_General_BIN LIKE N'[a-z]%';
       

USE Northwinds2022TSQLV7

SELECT
       EmployeeId,
       EmployeeLastName
FROM
       HumanResources.Employee
WHERE
       EmployeeLastName COLLATE Latin1_General_BIN LIKE N'[a-z]%';

---
## 6
Explain the difference between the following two queries

### Query 1
```sql
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
WHERE orderdate < '20160501'
GROUP BY empid;
```

### Query 2
```sql
SELECT empid, COUNT(*) AS numorders
FROM Sales.Orders
GROUP BY empid
HAVING MAX(orderdate) < '20160501';
```

---

---
## 7 
Return the three ship countries with the highest average freight for orders placed in 2015

**Tables involved:** Sales.Orders table

**Desired output:**
```sql
shipcountry     avgfreight
--------------- ---------------------
Austria         178.3642
Switzerland     117.1775
Sweden          105.16
```

*(3 row(s) affected)*

---

---
## 8 
Calculate row numbers for orders based on order date ordering (using order id as a tiebreaker) for each customer separately

**Tables involved:** Sales.Orders table

**Desired output:**
```sql
custid      orderdate  orderid     rownum
----------- ---------- ----------- --------------------
1           2015-08-25 10643       1
1           2015-10-03 10692       2
1           2015-10-13 10702       3
1           2016-01-15 10835       4
1           2016-03-16 10952       5
1           2016-04-09 11011       6
2           2014-09-18 10308       1
2           2015-08-08 10625       2
2           2015-11-28 10759       3
2           2016-03-04 10926       4
...
```

*(830 row(s) affected)*

---

# Answer

In [ ]:
USE TSQLV4

SELECT
	custid,
	orderdate,
    orderid,
    ROW_NUMBER() OVER (PARTITION BY custid ORDER BY orderdate, orderid) AS rownum
FROM
	Sales.Orders
ORDER BY
	custid,
    rownum;

USE Northwinds2022TSQLV7

SELECT
	CustomerId,
	OrderDate,
    Orderid,
    ROW_NUMBER() OVER (PARTITION BY CustomerId ORDER BY OrderDate, Orderid) AS rownum
FROM
	Sales.[Order]
ORDER BY
	CustomerId,
    rownum;

---
## 9
Figure out and return for each employee the gender based on the title of courtesy. Ms., Mrs. - Female, Mr. - Male, Dr. - Unknown

**Tables involved:** HR.Employees table

**Desired output:**
```sql
empid       firstname  lastname             titleofcourtesy           gender
----------- ---------- -------------------- ------------------------- -------
1           Sara       Davis                Ms.                       Female
2           Don        Funk                 Dr.                       Unknown
3           Judy       Lew                  Ms.                       Female
4           Yael       Peled                Mrs.                      Female
5           Sven       Mortensen            Mr.                       Male
6           Paul       Suurs                Mr.                       Male
7           Russell    King                 Mr.                       Male
8           Maria      Cameron              Ms.                       Female
9           Patricia   Doyle                Ms.                       Female
```

*(9 row(s) affected)*

---

Proposition - Write a query that infers each employee's gender based on their <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">TitleOfCourtesy, and returns their</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId, FirstName, LastName, and TitleOfCourtesy.</span>

Table - <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">HumanResources.Employee </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table with the alias e.</span>

Columns - Five desired <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">columns:</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">EmployeeId, EmployeeFirstName, EmployeeLastName, and EmployeeTitleOfCourtesy </span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">from the&nbsp;</span> <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">HumanResources.Employee</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table, and Gender populated by a CASE in the SELECT clasue.</span>

Predicate - The query retrieves specific columns from the "HumanResources.Employee" table and uses a CASE statement to create a derived column called "Gender" based on the values in the "EmployeeTitleOfCourtesy" column.

In [ ]:
-- Qeury using TSQLV4 data base
USE TSQLV4;

SELECT e.empid, e.firstname, e.lastname, e.titleofcourtesy, 
    CASE e.titleofcourtesy
        WHEN 'Mr.' THEN 'Male'
        WHEN 'Ms.' THEN 'Female'
        WHEN 'Mrs.' THEN 'Female'
        ELSE 'Unknown'
    END as gender
FROM HR.Employees as e


-- Qeury using Northwinds2022TSQLV7 database 
USE Northwinds2022TSQLV7;

SELECT e.EmployeeId, e.EmployeeFirstName, e.EmployeeLastName, e.EmployeeTitleOfCourtesy, 
    CASE e.EmployeeTitleOfCourtesy
        WHEN 'Mr.' THEN 'Male'
        WHEN 'Ms.' THEN 'Female'
        WHEN 'Mrs.' THEN 'Female'
        ELSE 'Unknown'
    END as Gender
FROM HumanResources.Employee as e

## Q10

Return for each customer the customer ID and region, sort the rows in the output by region, having NULLs sort last (after non-NULL values). Note that the default in T-SQL is that NULLs sort first.

**Tables involved:** Sales.Customers table using TSQLV4. Sales.Customer table, using      <span style="color: rgb(33, 33, 33); font-family: Menlo, Monaco, &quot;Courier New&quot;, monospace; font-size: 12px; white-space: pre;">Northwinds2022TSQLV7.</span>

**Desired output:**

```
custid      region
----------- ---------------
55          AK
10          BC
42          BC
45          CA
37          Co. Cork
33          DF
71          ID
38          Isle of Wight
46          Lara
78          MT
...
1           NULL
2           NULL
3           NULL
4           NULL
5           NULL
6           NULL
7           NULL
8           NULL
9           NULL
11          NULL
...

```

_(91 row(s) affected)_

* * *

## **<span style="font-family: georgia, palatino, serif; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-size: 14pt; text-shadow: none;">Proposition, Table, Columns and the Predicate.</span>**

The **proposition** of this question is that we are trying to change the presentation of a sorting operation. Our instinctive approach is to simply use the orderby clause to sort based on region. However, T-SQL defaults to null having a higher precedence as such will bubble to the top. Instead what if we were to detect when a null apperead and gave it less precedence. As a comparison, in java programs we may want to create a our custom comparison to sort objects in a collection. We can achieve a similar result by using Case expressions. The **table** being affected is the customers table, however learning this technique can help us adapt any sorting technique to a different table. The **columns** being affected are the custid and orderdate. As hinted before the **predicate** for this solution involves some function that gives a result in this case a case expression or a function that choses.

#### Case Expressions

Are like mini procedures that evaulate on branch logic. We can assign nulls to a higher value meaning it will choose it last and give non null items higher precedence by using a lower number.

### **<u>Analogy</u>**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">To make this understandable lets use an analogy on strings if we compare strings character by character we will be able to know whether a string deserves higher precdence in the same way by using nullability it is replaced with a higher value like z.&nbsp;</span> 

**<u>_Alternative solution_</u>**

Upon asking gpt "How can I make this better", it gave a brilliant suggestion. Instead of manually choosing what we should sort by we can instead default to a value whenever Null is achieved, we can do this with the function `ISNULL(arg1, arg2)` where arg2 is what should be returned if arg1 happens to be null. Instead we could `ORDER BY ISNULL(region, 'ZZZZZZZZZZZZZZZZ')`. This function along with `COALESCE` is also explained in the authors book (Ben-Gan, 55). One may ask when to chose one over the other, `COALESCE` is standard while `ISNULL` is not. One is more readable than the other which is why others may remember to choose it more.

In [ ]:
-- Original Query for TSQLV4

USE TSQLV4;

SELECT custid, region
FROM Sales.Customers
ORDER BY CASE WHEN region IS NULL THEN 1 ELSE 0 END, region;


-- New Query for Northwinds

USE Northwinds2022TSQLV7;

SELECT customerId, CustomerRegion
FROM Sales.Customer
ORDER BY COALESCE(CustomerRegion, 'ZZZZZZZZZZ');