# **Edwin Wray**

### **Group 1**

**Homework 3**

Chapter 4 (Subqueries): 

- Exercise 9 and 10 
    
- <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Multi-Valued Subqueries</span>
    

Chapter 5 (Table Expressions): 

- Exercises 2.1 and 2.2
    
- Multiple References
    
- Views

<span style="color: #008000;">-- 9</span>

<span style="color: #008000;">-- Explain the difference between IN and EXISTS</span>

**Chapter 4 - Exercise 9**

Proposition: Explain the difference between IN and EXISTS.

Table: Sales.\[Order\] and Sales.Customer tables.

Columns: DatabaseName, CustomerId from Sales.\[Order\] table and NumOrders that is the count of OrderId from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: c.CustomerId = o.CustomerId AND c.CustomerId = @FindCustomer

\_\_\_\_\_

Answer: The keyword IN checks if a specific value is found in a list that's returned by a given subquery. While the EXISTS keyword checks if a spefic row is found in a table that's returned by a given subquery. Both Keywords are used in the Where clause to filter data.

\_\_\_\_\_

[ChapGPT](https://static.vecteezy.com/system/resources/previews/022/841/114/non_2x/chatgpt-logo-transparent-background-free-png.png) Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query:

Both IN and EXISTS are keywords used in SQL to filter data, but they operate differently.  

The IN keyword is used to check if a specific value matches any value in a list returned by a subquery. It evaluates to true if the value matches any value in the list, and false otherwise.  

On the other hand, the EXISTS keyword is used to check for the existence of rows returned by a subquery. It evaluates to true if the subquery returns at least one row, and false if the subquery returns no rows.  

In summary, while IN checks for a value's presence in a list, EXISTS checks for the existence of rows in a subquery's result set.

In [ ]:
/*
Chapter 4 - Exercise 9

Proposition: Explain the difference between IN and EXISTS. 

Answer: 
The keyword IN checks if a specific value is found in a list that's returned by a given subquery. 
While the EXISTS keyword checks if a spefic row is found in a table that's returned by a given subquery. 
Both Keywords are used in the Where clause to filter data.
*/

USE Northwinds2022TSQLV7;

DECLARE @FindCustomer INT = 7;

-- Example returning the number of orders a specific customer placed using IN
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.CustomerId, COUNT(o.OrderId) as NumOrders
FROM Sales.[Order] as o
WHERE o.CustomerId IN
    (
        SELECT c.CustomerId
        FROM Sales.Customer as c
        WHERE c.CustomerId = o.CustomerId
            AND c.CustomerId = @FindCustomer
    )
GROUP BY o.CustomerId

-- Example returning the number of orders a specific customer placed using EXISTS
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.CustomerId, COUNT(o.OrderId) as NumOrders
FROM Sales.[Order] as o
WHERE EXISTS
    (
        SELECT c.CustomerId
        FROM Sales.Customer as c
        WHERE c.CustomerId = o.CustomerId
            AND c.CustomerId = @FindCustomer
    )
GROUP BY o.CustomerId

<span style="color: #008000;">-- 10</span>

<span style="color: #008000;">-- Write a query that returns for each order the number of days that past</span>

<span style="color: #008000;">-- since the same customer�s previous order. To determine recency among orders,</span>

<span style="color: #008000;">-- use orderdate as the primary sort element and orderid as the tiebreaker.</span>

<span style="color: #008000;">-- Tables involved: TSQLV6 database, Sales.Orders table</span>

  

<span style="color: #008000;">-- Desired output:</span>

custid orderdate orderid diff

<span style="color: #008000;">----------- ---------- ----------- -----------</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2021</span><span style="color: #000000;">-</span><span style="color: #09885a;">08</span><span style="color: #000000;">-</span><span style="color: #09885a;">25</span> <span style="color: #09885a;">10643</span> <span style="color: #0000ff;">NULL</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2021</span><span style="color: #000000;">-</span><span style="color: #09885a;">10</span><span style="color: #000000;">-</span><span style="color: #09885a;">03</span> <span style="color: #09885a;">10692</span> <span style="color: #09885a;">39</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2021</span><span style="color: #000000;">-</span><span style="color: #09885a;">10</span><span style="color: #000000;">-</span><span style="color: #09885a;">13</span> <span style="color: #09885a;">10702</span> <span style="color: #09885a;">10</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">01</span><span style="color: #000000;">-</span><span style="color: #09885a;">15</span> <span style="color: #09885a;">10835</span> <span style="color: #09885a;">94</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">03</span><span style="color: #000000;">-</span><span style="color: #09885a;">16</span> <span style="color: #09885a;">10952</span> <span style="color: #09885a;">60</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span><span style="color: #000000;">-</span><span style="color: #09885a;">09</span> <span style="color: #09885a;">11011</span> <span style="color: #09885a;">24</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2020</span><span style="color: #000000;">-</span><span style="color: #09885a;">09</span><span style="color: #000000;">-</span><span style="color: #09885a;">18</span> <span style="color: #09885a;">10308</span> <span style="color: #0000ff;">NULL</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2021</span><span style="color: #000000;">-</span><span style="color: #09885a;">08</span><span style="color: #000000;">-</span><span style="color: #09885a;">08</span> <span style="color: #09885a;">10625</span> <span style="color: #09885a;">324</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2021</span><span style="color: #000000;">-</span><span style="color: #09885a;">11</span><span style="color: #000000;">-</span><span style="color: #09885a;">28</span> <span style="color: #09885a;">10759</span> <span style="color: #09885a;">112</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">03</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span> <span style="color: #09885a;">10926</span> <span style="color: #09885a;">96</span>

...

  

(<span style="color: #09885a;">830</span> <span style="color: #0000ff;">rows</span> affected)

**Chapter 4 - Exercise 10**

Proposition: Write a query that returns for each order the number of days that past <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">since the same customer's previous order.&nbsp;</span>     

Table: Sales.\[Order\] table.

Columns: DatabaseName, CustomerId, OrderDate and OrderId from <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table, and&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">the number of days that past&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">since the same customer's previous order as&nbsp;</span>  <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Diff.</span>

Predicate: p.custid = o.custid and p.orderid \< o.orderid to filter the table to all of a customer's prev orders only.

In [ ]:
USE TSQLV6;

SELECT N'TSQLV6' AS databasename, o.custid, o.orderdate, o.orderid
    , DATEDIFF(DAY, (
        SELECT TOP 1 p.orderdate
        FROM Sales.Orders as p 
        WHERE p.custid = o.custid and p.orderid < o.orderid
        ORDER BY p.orderdate DESC, p.orderid DESC
    ), o.orderdate) as diff
FROM Sales.Orders as o
ORDER BY o.custid, o.orderdate, o.orderid


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, o.CustomerId, o.OrderDate, o.OrderId
    , DATEDIFF(DAY, (
        SELECT TOP 1 p.OrderDate
        FROM Sales.[Order] as p 
        WHERE p.CustomerId = o.CustomerId and p.OrderId < o.OrderId
        ORDER BY p.OrderDate DESC, p.OrderId DESC
    ), o.OrderDate) as Diff
FROM Sales.[Order] as o
ORDER BY o.CustomerId, o.OrderDate, o.OrderId

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Multi-Valued Subqueries</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 4 - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Multi-Valued Subqueries</span>**

Proposition: Write a query that returns the OrderId of all orders handled by Employees whose LastNames start with 'D'.

Table: Sales.\[Order\] as alias O and HumanResources.Employee as alias E.

Columns: DatabaseName. OrderId from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.&nbsp;</span>    EmployeeId from the HumanResources.Employee table.

Predicate: In the outer query, O.EmployeeId IN (SubQuery) filters the query to rows whose EmployeeIds are found in the subquery. In the subquery, <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">E.EmployeeLastName LIKE N'D%' filters the table to only rows with&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeLastNames starting with 'D'.</span>

In [ ]:
USE TSQLV6;

SELECT N'TSQLV6' AS databasename, orderid
FROM Sales.Orders
WHERE empid IN
  (SELECT E.empid
   FROM HR.Employees AS E
   WHERE E.lastname LIKE N'D%');


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, O.OrderId
FROM Sales.[Order] as O
WHERE O.EmployeeId IN
  (SELECT E.EmployeeId
   FROM HumanResources.Employee AS E
   WHERE E.EmployeeLastName LIKE N'D%');

**Chapter 4 - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Multi-Valued Subqueries</span>**

Proposition: Write a query that returns the OrderId of all orders handled by Employees whose LastNames start with 'D'.

Table: Sales.\[Order\] as alias O and HumanResources.Employee as alias E.

Columns: DatabaseName. OrderId from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: E.EmployeeLastName LIKE N'D%' filters the table to only rows with <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">EmployeeLastNames starting with 'D'.</span>

In [ ]:
USE TSQLV6;

SELECT N'TSQLV6' AS databasename, O.orderid
FROM HR.Employees AS E
  INNER JOIN Sales.Orders AS O
    ON E.empid = O.empid
WHERE E.lastname LIKE N'D%';


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, O.OrderId
FROM HumanResources.Employee AS E
  INNER JOIN Sales.[Order] AS O
    ON E.EmployeeId = O.EmployeeId
WHERE E.EmployeeLastName LIKE N'D%';

**Chapter 4 - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Multi-Valued Subqueries</span>**

Proposition: Write a query that return orders of customers from the 'USA'.

Table: Sales.\[Order\] as alias O and Sales.Customer as alias C.

Columns: DatabaseName. CustomerId, OrderId, OrderDate, and EmployeeId from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] table.</span>

Predicate: In the outer query, O.CustomerId IN (SubQuery) filters the query to rows whose CustomerIds are found in the subquery. In the subquery, C.<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerCountry = N'USA' filters the table to only rows with&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerCountry</span> <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">&nbsp;that are 'USA'.</span>

In [ ]:
-- Orders placed by US customers
USE TSQLV6;

SELECT N'TSQLV6' AS databasename, custid, orderid, orderdate, empid
FROM Sales.Orders
WHERE custid IN
  (SELECT C.custid
   FROM Sales.Customers AS C
   WHERE C.country = N'USA');


-- Orders placed by US customers
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, O.CustomerId, O.OrderId, O.OrderDate, O.EmployeeId
FROM Sales.[Order] as O
WHERE O.CustomerId IN
  (SELECT C.CustomerId
   FROM Sales.Customer AS C
   WHERE C.CustomerCountry = N'USA');

**Chapter 4 - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Multi-Valued Subqueries</span>**

Proposition: Write a query that returns Customers who have not placed an order.

Table: Outer query, Sales.Customer as alias C and subquery, <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] as alias O</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">.</span>

Columns: DatabaseName. CustomerId and CustomerCompanyName from the Sales.Customer <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table.</span>

Predicate: In the outer query, C.CustomerId NOT IN (SubQuery) filters the query to rows whose CustomerIds are NOT found in the subquery; resulting in rows with Customer who have not placed an order.

In [ ]:
-- Customers who placed no orders
USE TSQLV6;

SELECT N'TSQLV6' AS databasename, custid, companyname
FROM Sales.Customers
WHERE custid NOT IN
  (SELECT O.custid
   FROM Sales.Orders AS O);


-- Customers who placed no orders
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, C.CustomerId, C.CustomerCompanyName
FROM Sales.Customer as C
WHERE C.CustomerId NOT IN
  (SELECT O.CustomerId
   FROM Sales.[Order] AS O);

**Chapter 4 - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Multi-Valued Subqueries</span>**

Proposition: Write a query that creates a table, dbo.\[Order\], <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">of orders with even OrderIds.</span>

Table: dbo.\[Order\] and <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order] as alias O</span><span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">.</span>

Columns:  OrderId from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order]</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table.</span>

Predicate: O.OrderId % 2 = 0 filters the table to orders with even OrderIds.

In [ ]:
-- Missing order IDs
USE TSQLV6;

DROP TABLE IF EXISTS dbo.Orders;
CREATE TABLE dbo.Orders(orderid INT NOT NULL CONSTRAINT PK_Orders PRIMARY KEY);

INSERT INTO dbo.Orders(orderid)
  SELECT orderid
  FROM Sales.Orders
  WHERE orderid % 2 = 0;


-- Missing order IDs
USE Northwinds2022TSQLV7;

DROP TABLE IF EXISTS dbo.[Order];
CREATE TABLE dbo.[Order](OrderId INT NOT NULL CONSTRAINT PK_Orders PRIMARY KEY);

INSERT INTO dbo.[Order](O.OrderId)
  SELECT O.OrderId
  FROM Sales.[Order] as O
  WHERE O.OrderId % 2 = 0;

SELECT *
FROM dbo.[Order]

**Chapter 4 - <span style="color: var(--vscode-foreground); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Multi-Valued Subqueries</span>**

Proposition: Write a query that returns odd  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;OrderIds within the range of OrderIds found in the dbo.[Order] table.</span>

Table: Outer query, dbo.Nums and subquery, dbo.\[Order\] as alias O<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">.</span>

Columns:  OrderId from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.[Order]</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table.</span>

Predicate: 

- n BETWEEN (SELECT MIN(O.OrderId) FROM dbo.\[Order\] AS O) AND (SELECT MAX(O.OrderId) FROM dbo.\[Order\] AS O) filters the table to numbers found in the range of the min and max OrderIds found in the dbo.\[Order\] table inclusively.
- AND n NOT IN (SELECT O.OrderId FROM dbo.\[Order\] AS O) further filters the table to numbers NOT found in the dbo.\[Order\] table, resulting in odd numbers only.

In [ ]:
USE TSQLV6;

SELECT N'TSQLV6' AS databasename, n
FROM dbo.Nums
WHERE n BETWEEN (SELECT MIN(O.orderid) FROM dbo.Orders AS O)
            AND (SELECT MAX(O.orderid) FROM dbo.Orders AS O)
  AND n NOT IN (SELECT O.orderid FROM dbo.Orders AS O);

-- CLeanup
DROP TABLE IF EXISTS dbo.Orders;


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, n
FROM dbo.Nums
WHERE n BETWEEN (SELECT MIN(O.OrderId) FROM dbo.[Order] AS O)
            AND (SELECT MAX(O.OrderId) FROM dbo.[Order] AS O)
  AND n NOT IN (SELECT O.OrderId FROM dbo.[Order] AS O);

-- CLeanup
DROP TABLE IF EXISTS dbo.[Order];

<span style="color: #008000;">-- 2-1</span>

<span style="color: #008000;">-- Write a query that returns the maximum order date for each employee</span>

<span style="color: #008000;">-- Tables involved: TSQLV6 database, Sales.Orders table</span>

  

<span style="color: #008000;">--Desired output</span>

empid maxorderdate

<span style="color: #008000;">----------- -------------</span>

<span style="color: #09885a;">3</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span><span style="color: #000000;">-</span><span style="color: #09885a;">30</span>

<span style="color: #09885a;">6</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span><span style="color: #000000;">-</span><span style="color: #09885a;">23</span>

<span style="color: #09885a;">9</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span><span style="color: #000000;">-</span><span style="color: #09885a;">29</span>

<span style="color: #09885a;">7</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">1</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">4</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

<span style="color: #09885a;">2</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span>

<span style="color: #09885a;">5</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">04</span><span style="color: #000000;">-</span><span style="color: #09885a;">22</span>

<span style="color: #09885a;">8</span> <span style="color: #09885a;">2022</span><span style="color: #000000;">-</span><span style="color: #09885a;">05</span><span style="color: #000000;">-</span><span style="color: #09885a;">06</span>

  

(<span style="color: #09885a;">9</span> <span style="color: #0000ff;">rows</span> affected)

**Chapter 5 - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Exercises 2.1</span>**

Proposition: Write a query that returns the maximum order date for each employee. Return the EmployeeId and MaxOrderDate.  

Table: Sales.\[Order\] as alias O.  

Columns: DatabaseName.  EmployeeId from  Sales.\[Order\] table.  MaxOrderDate which is the max value of all an employee's  OrderDates.  

Predicate: No predicates in this query.

In [ ]:
USE TSQLV6;

SELECT N'TSQLV6' AS databasename
    , O.empid, MAX(O.orderdate) as maxorderdate
FROM Sales.Orders as O
GROUP BY O.empid
ORDER BY O.empid


USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName
    , O.EmployeeId, MAX(O.OrderDate) as MaxOrderDate
FROM Sales.[Order] as O
GROUP BY O.EmployeeId
ORDER BY O.EmployeeId

<span style="color: rgb(0, 128, 0);"><br class="Apple-interchange-newline">-- 2-2</span>

<span style="color: rgb(0, 128, 0);">-- Encapsulate the query from exercise 2-1 in a derived table</span>

<span style="color: rgb(0, 128, 0);">-- Write a join query between the derived table and the Sales.Orders</span>

<span style="color: rgb(0, 128, 0);">-- table to return the Sales.Orders with the maximum order date for</span>

<span style="color: rgb(0, 128, 0);">-- each employee</span>

<span style="color: rgb(0, 128, 0);">-- Tables involved: Sales.Orders</span>

  

<span style="color: rgb(0, 128, 0);">-- Desired output:</span>

empid orderdate orderid custid

<span style="color: rgb(0, 128, 0);">----------- ----------- ----------- -----------</span>

<span style="color: rgb(9, 136, 90);">9</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">04</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">29</span> <span style="color: rgb(9, 136, 90);">11058</span> <span style="color: rgb(9, 136, 90);">6</span>

<span style="color: rgb(9, 136, 90);">8</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">06</span> <span style="color: rgb(9, 136, 90);">11075</span> <span style="color: rgb(9, 136, 90);">68</span>

<span style="color: rgb(9, 136, 90);">7</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">06</span> <span style="color: rgb(9, 136, 90);">11074</span> <span style="color: rgb(9, 136, 90);">73</span>

<span style="color: rgb(9, 136, 90);">6</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">04</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">23</span> <span style="color: rgb(9, 136, 90);">11045</span> <span style="color: rgb(9, 136, 90);">10</span>

<span style="color: rgb(9, 136, 90);">5</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">04</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">22</span> <span style="color: rgb(9, 136, 90);">11043</span> <span style="color: rgb(9, 136, 90);">74</span>

<span style="color: rgb(9, 136, 90);">4</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">06</span> <span style="color: rgb(9, 136, 90);">11076</span> <span style="color: rgb(9, 136, 90);">9</span>

<span style="color: rgb(9, 136, 90);">3</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">04</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">30</span> <span style="color: rgb(9, 136, 90);">11063</span> <span style="color: rgb(9, 136, 90);">37</span>

<span style="color: rgb(9, 136, 90);">2</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span> <span style="color: rgb(9, 136, 90);">11073</span> <span style="color: rgb(9, 136, 90);">58</span>

<span style="color: rgb(9, 136, 90);">2</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span> <span style="color: rgb(9, 136, 90);">11070</span> <span style="color: rgb(9, 136, 90);">44</span>

<span style="color: rgb(9, 136, 90);">1</span> <span style="color: rgb(9, 136, 90);">2022</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">05</span><span style="color: rgb(0, 0, 0);">-</span><span style="color: rgb(9, 136, 90);">06</span> <span style="color: rgb(9, 136, 90);">11077</span> <span style="color: rgb(9, 136, 90);">65</span>

  

(<span style="color: rgb(9, 136, 90);">10</span> <span style="color: rgb(0, 0, 255);">rows</span> affected)

**Chapter 5 - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Exercises 2.2</span>**

Proposition: Write a query that encapsulates the query from exercise 2-1 in a derived table and joins it with the Sales.\[Order\] table. Return the   EmployeeId, MaxOrderDate, OrderId and CustomerId.  

Table: Sales.\[Order\] as alias O2 and  query from exercise 2-1 encapsulated in a derived table as alias O1.  

Columns: DatabaseName.  EmployeeId, OrderId and CustomerId  from Sales.\[Order\] table. MaxOrderDate which is the max value of all an employee's OrderDates.  

Predicate: No predicates in this query.

In [ ]:
USE TSQLV6;

SELECT O1.databasename, O1.empid, O1.maxorderdate, O2.orderid, O2.custid
FROM (
    SELECT N'TSQLV6' AS databasename
        , O.empid, MAX(O.orderdate) as maxorderdate
    FROM Sales.Orders as O
    GROUP BY O.empid
    ) as O1
    LEFT OUTER JOIN Sales.Orders as O2
        ON O1.empid = O2.empid 
            AND O1.maxorderdate = O2.orderdate
ORDER BY O1.empid DESC



USE Northwinds2022TSQLV7;

SELECT O1.DatabaseName, O1.EmployeeId, O1.MaxOrderDate, O2.OrderId, O2.CustomerId
FROM (
    SELECT N'Northwinds2022TSQLV7' AS DatabaseName
        , O.EmployeeId, MAX(O.OrderDate) as MaxOrderDate
    FROM Sales.[Order] as O
    GROUP BY O.EmployeeId
    ) as O1
    LEFT OUTER JOIN Sales.[Order] as O2
        ON O1.EmployeeId = O2.EmployeeId 
            AND O1.MaxOrderDate = O2.OrderDate
ORDER BY O1.EmployeeId DESC

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Multiple References</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 5 - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Multiple References</span>**

Proposition: Write a query that returns the NumCustomers each year, the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">NumCustomers the previous year and the growth of the&nbsp;</span>     <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">NumCustomers each year.</span>

Table: YearlyCount as aliases Cur and Prv.

Columns: DatabaseName, OrderYear and NumCusts AS CurNumCusts from Cur table. NumCusts AS PrvNumCusts from Prv table. Cur.NumCusts - Prv.NumCusts AS Growth.

Predicate: Cur.OrderYear = Prv.OrderYear + 1 Left Joins the tables Cur and Prv with value of the current year equal to the value of the previous year + 1.

In [ ]:
USE TSQLV6;

WITH YearlyCount AS
(
  SELECT YEAR(orderdate) AS orderyear,
    COUNT(DISTINCT custid) AS numcusts
  FROM Sales.Orders
  GROUP BY YEAR(orderdate)
)
SELECT N'TSQLV6' AS databasename, Cur.orderyear, 
  Cur.numcusts AS curnumcusts, Prv.numcusts AS prvnumcusts,
  Cur.numcusts - Prv.numcusts AS growth
FROM YearlyCount AS Cur
  LEFT OUTER JOIN YearlyCount AS Prv
    ON Cur.orderyear = Prv.orderyear + 1;


USE Northwinds2022TSQLV7;

WITH YearlyCount AS
(
  SELECT YEAR(O.OrderDate) AS OrderYear,
    COUNT(DISTINCT O.CustomerId) AS NumCusts
  FROM Sales.[Order] as O
  GROUP BY YEAR(O.OrderDate)
)
SELECT N'Northwinds2022TSQLV7' AS DatabaseName, Cur.OrderYear, 
  Cur.NumCusts AS CurNumCusts, Prv.NumCusts AS PrvNumCusts,
  Cur.NumCusts - Prv.NumCusts AS Growth
FROM YearlyCount AS Cur
  LEFT OUTER JOIN YearlyCount AS Prv
    ON Cur.OrderYear = Prv.OrderYear + 1;

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Views</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

**Chapter 5 - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Views</span>**

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Views Described</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

Proposition: Create a View of Customers in 'USA'. 

Table: Sales.Customers

Columns: DatabaseName. CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,   CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber and CustomerFaxNumber from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customers table.</span>

Predicate: C.CustomerCountry = N'USA' filters the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customers</span>   <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">&nbsp;table to only Customers in the 'USA'.</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

<span style="color: #008000;">-- Views and ORDER BY</span>

<span style="color: #008000;">---------------------------------------------------------------------</span>

Proposition: Write a query that returns a view in a table ordered by the CustomerRegion.

Table: <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Northwinds2022TSQLV7.Sales.USACusts as alias V.</span>

Columns: DatabaseName. CustomerId, CustomerCompanyName and CustomerRegion from <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Northwinds2022TSQLV7.Sales.USACusts.</span>

Predicate: No predicate in this query.

In [ ]:
---------------------------------------------------------------------

-- Views Described

---------------------------------------------------------------------
-- Creating USACusts View
-- USE TSQLV6;
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT
  N'TSQLV6' AS databasename, 
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM TSQLV6.Sales.Customers
WHERE country = N'USA';
GO

SELECT databasename, custid, companyname
FROM Sales.USACusts;
GO

---------------------------------------------------------------------

-- Views and ORDER BY

---------------------------------------------------------------------
-- ORDER BY in a View is not Allowed
/*
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA'
ORDER BY region;
GO
*/

-- Instead, use ORDER BY in Outer Query
SELECT N'TSQLV6' AS databasename, V.custid, V.companyname, V.region
FROM Sales.USACusts as V
ORDER BY V.region;
GO


---------------------------------------------------------------------

-- Views Described

---------------------------------------------------------------------
-- Creating USACusts View
-- USE Northwinds2022TSQLV7;
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT
  N'Northwinds2022TSQLV7' AS DatabaseName, 
  C.CustomerId, C.CustomerCompanyName, C.CustomerContactName, C.CustomerContactTitle, C.CustomerAddress,
  C.CustomerCity, C.CustomerRegion, C.CustomerPostalCode, C.CustomerCountry, C.CustomerPhoneNumber, C.CustomerFaxNumber
FROM Northwinds2022TSQLV7.Sales.Customer as C
WHERE C.CustomerCountry = N'USA';
GO

SELECT V.DatabaseName, V.CustomerId, V.CustomerCompanyName
FROM Sales.USACusts as V;
GO

---------------------------------------------------------------------

-- Views and ORDER BY

---------------------------------------------------------------------
-- ORDER BY in a View is not Allowed
/*
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM Sales.Customers
WHERE country = N'USA'
ORDER BY region;
GO
-- */

-- Instead, use ORDER BY in Outer Query
USE Northwinds2022TSQLV7;

SELECT N'Northwinds2022TSQLV7' AS DatabaseName, V.CustomerId, V.CustomerCompanyName, V.CustomerRegion
FROM Northwinds2022TSQLV7.Sales.USACusts as V
ORDER BY V.CustomerRegion;
GO

**Chapter 5 - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Views</span>**

Proposition: Create a View of Customers in 'USA' that relies on TOP. Write a query that returns the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerId,&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerCompanyName and&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerRegion of the Customers in the 'USA'.</span>

Table: Sales.Customers

Columns: DatabaseName. CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,   CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber and CustomerFaxNumber from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customers table.</span>

Predicate: C.CustomerCountry = N'USA' filters the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customers&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table to only Customers in the 'USA'.</span>

In [ ]:
-- Do not Rely on TOP
-- USE TSQLV6;
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT TOP (100) PERCENT
  N'TSQLV6' AS databasename, 
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM TSQLV6.Sales.Customers
WHERE country = N'USA'
ORDER BY region;
GO

-- Query USACusts
SELECT custid, companyname, region
FROM Sales.USACusts;
GO



-- Do not Rely on TOP
-- USE Northwinds2022TSQLV7;
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT TOP (100) PERCENT
  N'Northwinds2022TSQLV7' AS DatabaseName, 
  C.CustomerId, C.CustomerCompanyName, C.CustomerContactName, C.CustomerContactTitle, C.CustomerAddress,
  C.CustomerCity, C.CustomerRegion, C.CustomerPostalCode, C.CustomerCountry, C.CustomerPhoneNumber, C.CustomerFaxNumber
FROM Northwinds2022TSQLV7.Sales.Customer as C
WHERE C.CustomerCountry = N'USA'
ORDER BY C.CustomerRegion;
GO

-- Query USACusts
SELECT V.CustomerId, V.CustomerCompanyName, V.CustomerRegion
FROM Sales.USACusts as V;
GO

**Chapter 5 - <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Views</span>**

Proposition: Create a View of Customers in 'USA' that relies on OFFSET-FETCH. Write a query that returns the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerId,&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerCompanyName and&nbsp;</span>  <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">CustomerRegion of the Customers in the 'USA'.</span>

Table: Sales.Customers

Columns: DatabaseName. CustomerId, CustomerCompanyName, CustomerContactName, CustomerContactTitle, CustomerAddress,   CustomerCity, CustomerRegion, CustomerPostalCode, CustomerCountry, CustomerPhoneNumber and CustomerFaxNumber from the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customers table.</span>

Predicate: C.CustomerCountry = N'USA' filters the <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">Sales.Customers&nbsp;</span> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; color: var(--vscode-foreground);">table to only Customers in the 'USA'.</span>

In [ ]:
-- DO NOT rely on OFFSET-FETCH, even if for now the engine does return rows in order
-- USE TSQLV6;
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT 
  custid, companyname, contactname, contacttitle, address,
  city, region, postalcode, country, phone, fax
FROM TSQLV6.Sales.Customers
WHERE country = N'USA'
ORDER BY region
OFFSET 0 ROWS;
GO

-- Query USACusts
SELECT custid, companyname, region
FROM Sales.USACusts;
GO


-- DO NOT rely on OFFSET-FETCH, even if for now the engine does return rows in order
-- USE Northwinds2022TSQLV7;
CREATE OR ALTER VIEW Sales.USACusts
AS

SELECT 
  N'Northwinds2022TSQLV7' AS DatabaseName, 
  C.CustomerId, C.CustomerCompanyName, C.CustomerContactName, C.CustomerContactTitle, C.CustomerAddress,
  C.CustomerCity, C.CustomerRegion, C.CustomerPostalCode, C.CustomerCountry, C.CustomerPhoneNumber, C.CustomerFaxNumber
FROM Northwinds2022TSQLV7.Sales.Customer as C
WHERE C.CustomerCountry = N'USA'
ORDER BY C.CustomerRegion
OFFSET 0 ROWS;
GO

-- Query USACusts
SELECT V.CustomerId, V.CustomerCompanyName, V.CustomerRegion
FROM Northwinds2022TSQLV7.Sales.USACusts as V;
GO