## Group 1 QueensClassSchedule Showcase

Here We will demonstrate our design via queries and proprositions

**Name:** Mehrshad Eshaghianpour

**Group:** 1

**Task:** Project 3 Queries

In [ ]:
-- Query 1
-- Find all courses that have less than half enrollment
USE QueensClassSchedule

SELECT Section,
       [Day],
       [Time],
       Limit,
       Enrolled,
       ModeID,
       CourseID,
       ClassID,
       RoomID,
       InstructorID,
       Code
       FROM Course.Class WHERE Enrolled < (Limit/2)
	   ORDER BY Enrolled DESC

In [ ]:
-- Query 2
-- List all departments along with their codes and the number of instructors in each department

USE QueensClassSchedule

SELECT d.DepartmentCode, COUNT(di.InstructorID) AS NumInstructors
FROM HumanResources.Department d
LEFT JOIN BridgeTable.DepartmentInstructor di ON d.DepartmentCode = di.DepartmentCode
GROUP BY d.DepartmentCode;

In [ ]:
--Query 3
-- Retrieve all instructors along with their IDs, full names, and the total number of classes they are teaching

USE QueensClassSchedule

SELECT i.InstructorID, i.LastName, i.FastName, COUNT(ic.ClassID) AS NumClassesTaught
FROM HumanResources.Instructor i
LEFT JOIN BridgeTable.InstructorClass ic ON i.InstructorID = ic.InstructorID
GROUP BY i.InstructorID, i.LastName, i.FastName;